
proj.mac/.DS_Store

proj.win32/Debug.win32/*
proj.win32/ipch/*

*.opensdf

*.sdf

proj.android/assets/*

proj.linux/*

*.DS_Store

*.a

*.class

*.o
*.obj

*.d

*.so

*.ap_

*.dex

*.cache

*.apk

*.pdb

*~

Resources/PC_/*

docs/*.pdf

proj.ios/.DS_Store

Resources/Makefile*
Resources/debug*
Resources/release*

