
proj.mac/.DS_Store
proj.win32/Debug.win32/*
proj.win32/ipch/*

*.opensdf

*.sdf

proj.android/assets/*

.DS_Store

*.a

*.class

*.o

*.d

*.so

*.ap_

*.dex

*.cache

*.apk
