<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bow-0</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>bow-1</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>192</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>bow-2</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>384</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>bow-3</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>576</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>bow-4</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>768</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>textureFileName</key>
		<string>bow.et</string>
	</dict>
</dict>
</plist>
