<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>e781-0</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e781-1</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>192</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e781-2</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>384</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e781-3</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>576</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e781-4</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>768</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e781-5</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>960</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e781-6</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>1152</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e781-7</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>1344</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e781-8</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>1536</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e781-9</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>1728</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>textureFileName</key>
		<string>e781.et</string>
	</dict>
</dict>
</plist>
