<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>flash2-0</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>flash2-1</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>192</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>flash2-10</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>1920</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>flash2-11</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>2112</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>flash2-12</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>2304</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>flash2-13</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>2496</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>flash2-14</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>2688</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>flash2-15</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>2880</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>flash2-16</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>3072</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>flash2-17</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>3264</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>flash2-18</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>3456</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>flash2-19</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>3648</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>flash2-2</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>384</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>flash2-20</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>3840</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>flash2-21</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>4032</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>flash2-22</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>4224</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>flash2-23</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>4416</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>flash2-24</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>4608</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>flash2-3</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>576</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>flash2-4</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>768</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>flash2-5</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>960</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>flash2-6</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>1152</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>flash2-7</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>1344</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>flash2-8</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>1536</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>flash2-9</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>1728</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>textureFileName</key>
		<string>flash2.et</string>
	</dict>
</dict>
</plist>
