<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>heal1-0</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>heal1-1</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>192</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>heal1-10</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>1920</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>heal1-11</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>2112</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>heal1-12</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>2304</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>heal1-13</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>2496</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>heal1-14</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>2688</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>heal1-15</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>2880</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>heal1-16</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>3072</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>heal1-17</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>3264</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>heal1-18</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>3456</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>heal1-19</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>3648</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>heal1-2</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>384</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>heal1-20</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>3840</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>heal1-21</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>4032</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>heal1-22</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>4224</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>heal1-23</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>4416</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>heal1-24</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>4608</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>heal1-25</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>4800</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>heal1-26</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>4992</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>heal1-27</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>5184</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>heal1-28</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>5376</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>heal1-29</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>5568</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>heal1-3</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>576</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>heal1-4</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>768</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>heal1-5</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>960</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>heal1-6</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>1152</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>heal1-7</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>1344</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>heal1-8</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>1536</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>heal1-9</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>192</integer>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>width</key>
			<integer>192</integer>
			<key>x</key>
			<integer>1728</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>textureFileName</key>
		<string>heal1.et</string>
	</dict>
</dict>
</plist>
