<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>miss-0</key>
		<dict>
			<key>height</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>width</key>
			<integer>85</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>miss-1</key>
		<dict>
			<key>height</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>width</key>
			<integer>85</integer>
			<key>x</key>
			<integer>85</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>miss-2</key>
		<dict>
			<key>height</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>width</key>
			<integer>85</integer>
			<key>x</key>
			<integer>170</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>miss-3</key>
		<dict>
			<key>height</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>width</key>
			<integer>85</integer>
			<key>x</key>
			<integer>255</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>textureFileName</key>
		<string>miss.et</string>
	</dict>
</dict>
</plist>
