<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>paralysis1-0</key>
		<dict>
			<key>height</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>96</integer>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>width</key>
			<integer>96</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>paralysis1-1</key>
		<dict>
			<key>height</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>96</integer>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>width</key>
			<integer>96</integer>
			<key>x</key>
			<integer>96</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>paralysis1-10</key>
		<dict>
			<key>height</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>96</integer>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>width</key>
			<integer>96</integer>
			<key>x</key>
			<integer>960</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>paralysis1-11</key>
		<dict>
			<key>height</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>96</integer>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>width</key>
			<integer>96</integer>
			<key>x</key>
			<integer>1056</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>paralysis1-12</key>
		<dict>
			<key>height</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>96</integer>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>width</key>
			<integer>96</integer>
			<key>x</key>
			<integer>1152</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>paralysis1-2</key>
		<dict>
			<key>height</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>96</integer>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>width</key>
			<integer>96</integer>
			<key>x</key>
			<integer>192</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>paralysis1-3</key>
		<dict>
			<key>height</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>96</integer>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>width</key>
			<integer>96</integer>
			<key>x</key>
			<integer>288</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>paralysis1-4</key>
		<dict>
			<key>height</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>96</integer>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>width</key>
			<integer>96</integer>
			<key>x</key>
			<integer>384</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>paralysis1-5</key>
		<dict>
			<key>height</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>96</integer>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>width</key>
			<integer>96</integer>
			<key>x</key>
			<integer>480</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>paralysis1-6</key>
		<dict>
			<key>height</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>96</integer>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>width</key>
			<integer>96</integer>
			<key>x</key>
			<integer>576</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>paralysis1-7</key>
		<dict>
			<key>height</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>96</integer>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>width</key>
			<integer>96</integer>
			<key>x</key>
			<integer>672</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>paralysis1-8</key>
		<dict>
			<key>height</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>96</integer>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>width</key>
			<integer>96</integer>
			<key>x</key>
			<integer>768</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>paralysis1-9</key>
		<dict>
			<key>height</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>96</integer>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>width</key>
			<integer>96</integer>
			<key>x</key>
			<integer>864</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>textureFileName</key>
		<string>paralysis1.et</string>
	</dict>
</dict>
</plist>
