<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>128</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>down_0.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
		<key>down_1.png</key>
		<dict>
			<key>x</key>
			<integer>32</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
		<key>down_2.png</key>
		<dict>
			<key>x</key>
			<integer>64</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
		<key>down_3.png</key>
		<dict>
			<key>x</key>
			<integer>96</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
		<key>left_0.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>48</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
		<key>left_1.png</key>
		<dict>
			<key>x</key>
			<integer>32</integer>
			<key>y</key>
			<integer>48</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
		<key>left_2.png</key>
		<dict>
			<key>x</key>
			<integer>64</integer>
			<key>y</key>
			<integer>48</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
		<key>left_3.png</key>
		<dict>
			<key>x</key>
			<integer>96</integer>
			<key>y</key>
			<integer>48</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
		<key>right_0.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>96</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
		<key>right_1.png</key>
		<dict>
			<key>x</key>
			<integer>32</integer>
			<key>y</key>
			<integer>96</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
		<key>right_2.png</key>
		<dict>
			<key>x</key>
			<integer>64</integer>
			<key>y</key>
			<integer>96</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
		<key>right_3.png</key>
		<dict>
			<key>x</key>
			<integer>96</integer>
			<key>y</key>
			<integer>96</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
		<key>up_0.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>144</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
		<key>up_1.png</key>
		<dict>
			<key>x</key>
			<integer>32</integer>
			<key>y</key>
			<integer>144</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
		<key>up_2.png</key>
		<dict>
			<key>x</key>
			<integer>64</integer>
			<key>y</key>
			<integer>144</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
		<key>up_3.png</key>
		<dict>
			<key>x</key>
			<integer>96</integer>
			<key>y</key>
			<integer>144</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
	</dict>
</dict>
</plist>