<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>e-104-down-0</key>
		<dict>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>35</integer>
			<key>originalWidth</key>
			<integer>15</integer>
			<key>width</key>
			<integer>15</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-104-down-1</key>
		<dict>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>36</integer>
			<key>originalWidth</key>
			<integer>16</integer>
			<key>width</key>
			<integer>16</integer>
			<key>x</key>
			<integer>17</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-104-down-2</key>
		<dict>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>35</integer>
			<key>originalWidth</key>
			<integer>15</integer>
			<key>width</key>
			<integer>15</integer>
			<key>x</key>
			<integer>35</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-104-down-3</key>
		<dict>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>36</integer>
			<key>originalWidth</key>
			<integer>16</integer>
			<key>width</key>
			<integer>16</integer>
			<key>x</key>
			<integer>52</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-104-left-0</key>
		<dict>
			<key>height</key>
			<integer>25</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>25</integer>
			<key>originalWidth</key>
			<integer>36</integer>
			<key>width</key>
			<integer>36</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>38</integer>
		</dict>
		<key>e-104-left-1</key>
		<dict>
			<key>height</key>
			<integer>25</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>25</integer>
			<key>originalWidth</key>
			<integer>38</integer>
			<key>width</key>
			<integer>38</integer>
			<key>x</key>
			<integer>38</integer>
			<key>y</key>
			<integer>38</integer>
		</dict>
		<key>e-104-left-2</key>
		<dict>
			<key>height</key>
			<integer>25</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>25</integer>
			<key>originalWidth</key>
			<integer>37</integer>
			<key>width</key>
			<integer>37</integer>
			<key>x</key>
			<integer>78</integer>
			<key>y</key>
			<integer>38</integer>
		</dict>
		<key>e-104-left-3</key>
		<dict>
			<key>height</key>
			<integer>25</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>25</integer>
			<key>originalWidth</key>
			<integer>36</integer>
			<key>width</key>
			<integer>36</integer>
			<key>x</key>
			<integer>117</integer>
			<key>y</key>
			<integer>38</integer>
		</dict>
		<key>e-104-right-0</key>
		<dict>
			<key>height</key>
			<integer>25</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>25</integer>
			<key>originalWidth</key>
			<integer>39</integer>
			<key>width</key>
			<integer>39</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>65</integer>
		</dict>
		<key>e-104-right-1</key>
		<dict>
			<key>height</key>
			<integer>25</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>25</integer>
			<key>originalWidth</key>
			<integer>37</integer>
			<key>width</key>
			<integer>37</integer>
			<key>x</key>
			<integer>41</integer>
			<key>y</key>
			<integer>65</integer>
		</dict>
		<key>e-104-right-2</key>
		<dict>
			<key>height</key>
			<integer>25</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>25</integer>
			<key>originalWidth</key>
			<integer>37</integer>
			<key>width</key>
			<integer>37</integer>
			<key>x</key>
			<integer>80</integer>
			<key>y</key>
			<integer>65</integer>
		</dict>
		<key>e-104-right-3</key>
		<dict>
			<key>height</key>
			<integer>25</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>25</integer>
			<key>originalWidth</key>
			<integer>37</integer>
			<key>width</key>
			<integer>37</integer>
			<key>x</key>
			<integer>119</integer>
			<key>y</key>
			<integer>65</integer>
		</dict>
		<key>e-104-up-0</key>
		<dict>
			<key>height</key>
			<integer>31</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>31</integer>
			<key>originalWidth</key>
			<integer>17</integer>
			<key>width</key>
			<integer>17</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>92</integer>
		</dict>
		<key>e-104-up-1</key>
		<dict>
			<key>height</key>
			<integer>31</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>31</integer>
			<key>originalWidth</key>
			<integer>17</integer>
			<key>width</key>
			<integer>17</integer>
			<key>x</key>
			<integer>19</integer>
			<key>y</key>
			<integer>92</integer>
		</dict>
		<key>e-104-up-2</key>
		<dict>
			<key>height</key>
			<integer>31</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>31</integer>
			<key>originalWidth</key>
			<integer>17</integer>
			<key>width</key>
			<integer>17</integer>
			<key>x</key>
			<integer>38</integer>
			<key>y</key>
			<integer>92</integer>
		</dict>
		<key>e-104-up-3</key>
		<dict>
			<key>height</key>
			<integer>31</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>31</integer>
			<key>originalWidth</key>
			<integer>17</integer>
			<key>width</key>
			<integer>17</integer>
			<key>x</key>
			<integer>57</integer>
			<key>y</key>
			<integer>92</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>spriteFrameType</key>
		<integer>1</integer>
		<key>textureFileName</key>
		<string>e-104.st</string>
	</dict>
</dict>
</plist>
