<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>e-103-down-0</key>
		<dict>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>73</integer>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>width</key>
			<integer>27</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-103-down-1</key>
		<dict>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>72</integer>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>width</key>
			<integer>27</integer>
			<key>x</key>
			<integer>29</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-103-down-2</key>
		<dict>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>73</integer>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>width</key>
			<integer>27</integer>
			<key>x</key>
			<integer>58</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-103-down-3</key>
		<dict>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>72</integer>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>width</key>
			<integer>27</integer>
			<key>x</key>
			<integer>87</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-103-left-0</key>
		<dict>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>81</integer>
			<key>originalWidth</key>
			<integer>71</integer>
			<key>width</key>
			<integer>71</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>75</integer>
		</dict>
		<key>e-103-left-1</key>
		<dict>
			<key>height</key>
			<integer>82</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>82</integer>
			<key>originalWidth</key>
			<integer>63</integer>
			<key>width</key>
			<integer>63</integer>
			<key>x</key>
			<integer>73</integer>
			<key>y</key>
			<integer>75</integer>
		</dict>
		<key>e-103-left-2</key>
		<dict>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>81</integer>
			<key>originalWidth</key>
			<integer>72</integer>
			<key>width</key>
			<integer>72</integer>
			<key>x</key>
			<integer>138</integer>
			<key>y</key>
			<integer>75</integer>
		</dict>
		<key>e-103-left-3</key>
		<dict>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>81</integer>
			<key>originalWidth</key>
			<integer>65</integer>
			<key>width</key>
			<integer>65</integer>
			<key>x</key>
			<integer>212</integer>
			<key>y</key>
			<integer>75</integer>
		</dict>
		<key>e-103-right-0</key>
		<dict>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>81</integer>
			<key>originalWidth</key>
			<integer>71</integer>
			<key>width</key>
			<integer>71</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>159</integer>
		</dict>
		<key>e-103-right-1</key>
		<dict>
			<key>height</key>
			<integer>82</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>82</integer>
			<key>originalWidth</key>
			<integer>63</integer>
			<key>width</key>
			<integer>63</integer>
			<key>x</key>
			<integer>73</integer>
			<key>y</key>
			<integer>159</integer>
		</dict>
		<key>e-103-right-2</key>
		<dict>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>81</integer>
			<key>originalWidth</key>
			<integer>72</integer>
			<key>width</key>
			<integer>72</integer>
			<key>x</key>
			<integer>138</integer>
			<key>y</key>
			<integer>159</integer>
		</dict>
		<key>e-103-right-3</key>
		<dict>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>81</integer>
			<key>originalWidth</key>
			<integer>65</integer>
			<key>width</key>
			<integer>65</integer>
			<key>x</key>
			<integer>212</integer>
			<key>y</key>
			<integer>159</integer>
		</dict>
		<key>e-103-up-0</key>
		<dict>
			<key>height</key>
			<integer>89</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>89</integer>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>width</key>
			<integer>27</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>243</integer>
		</dict>
		<key>e-103-up-1</key>
		<dict>
			<key>height</key>
			<integer>88</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>88</integer>
			<key>originalWidth</key>
			<integer>26</integer>
			<key>width</key>
			<integer>26</integer>
			<key>x</key>
			<integer>29</integer>
			<key>y</key>
			<integer>243</integer>
		</dict>
		<key>e-103-up-2</key>
		<dict>
			<key>height</key>
			<integer>89</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>89</integer>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>width</key>
			<integer>27</integer>
			<key>x</key>
			<integer>57</integer>
			<key>y</key>
			<integer>243</integer>
		</dict>
		<key>e-103-up-3</key>
		<dict>
			<key>height</key>
			<integer>88</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>88</integer>
			<key>originalWidth</key>
			<integer>26</integer>
			<key>width</key>
			<integer>26</integer>
			<key>x</key>
			<integer>86</integer>
			<key>y</key>
			<integer>243</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>textureFileName</key>
		<string>e-103.st</string>
	</dict>
</dict>
</plist>
