<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>e-107-down-0</key>
		<dict>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>60</integer>
			<key>originalWidth</key>
			<integer>43</integer>
			<key>width</key>
			<integer>43</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-107-down-1</key>
		<dict>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>59</integer>
			<key>originalWidth</key>
			<integer>41</integer>
			<key>width</key>
			<integer>41</integer>
			<key>x</key>
			<integer>45</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-107-down-2</key>
		<dict>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>60</integer>
			<key>originalWidth</key>
			<integer>43</integer>
			<key>width</key>
			<integer>43</integer>
			<key>x</key>
			<integer>88</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-107-down-3</key>
		<dict>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>59</integer>
			<key>originalWidth</key>
			<integer>44</integer>
			<key>width</key>
			<integer>44</integer>
			<key>x</key>
			<integer>133</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-107-left-0</key>
		<dict>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>57</integer>
			<key>originalWidth</key>
			<integer>35</integer>
			<key>width</key>
			<integer>35</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>62</integer>
		</dict>
		<key>e-107-left-1</key>
		<dict>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>56</integer>
			<key>originalWidth</key>
			<integer>36</integer>
			<key>width</key>
			<integer>36</integer>
			<key>x</key>
			<integer>37</integer>
			<key>y</key>
			<integer>62</integer>
		</dict>
		<key>e-107-left-2</key>
		<dict>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>57</integer>
			<key>originalWidth</key>
			<integer>35</integer>
			<key>width</key>
			<integer>35</integer>
			<key>x</key>
			<integer>75</integer>
			<key>y</key>
			<integer>62</integer>
		</dict>
		<key>e-107-left-3</key>
		<dict>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>56</integer>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>width</key>
			<integer>40</integer>
			<key>x</key>
			<integer>112</integer>
			<key>y</key>
			<integer>62</integer>
		</dict>
		<key>e-107-right-0</key>
		<dict>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>57</integer>
			<key>originalWidth</key>
			<integer>35</integer>
			<key>width</key>
			<integer>35</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>121</integer>
		</dict>
		<key>e-107-right-1</key>
		<dict>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>56</integer>
			<key>originalWidth</key>
			<integer>36</integer>
			<key>width</key>
			<integer>36</integer>
			<key>x</key>
			<integer>37</integer>
			<key>y</key>
			<integer>121</integer>
		</dict>
		<key>e-107-right-2</key>
		<dict>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>57</integer>
			<key>originalWidth</key>
			<integer>35</integer>
			<key>width</key>
			<integer>35</integer>
			<key>x</key>
			<integer>75</integer>
			<key>y</key>
			<integer>121</integer>
		</dict>
		<key>e-107-right-3</key>
		<dict>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>56</integer>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>width</key>
			<integer>40</integer>
			<key>x</key>
			<integer>112</integer>
			<key>y</key>
			<integer>121</integer>
		</dict>
		<key>e-107-up-0</key>
		<dict>
			<key>height</key>
			<integer>61</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>61</integer>
			<key>originalWidth</key>
			<integer>43</integer>
			<key>width</key>
			<integer>43</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>180</integer>
		</dict>
		<key>e-107-up-1</key>
		<dict>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>60</integer>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>width</key>
			<integer>42</integer>
			<key>x</key>
			<integer>45</integer>
			<key>y</key>
			<integer>180</integer>
		</dict>
		<key>e-107-up-2</key>
		<dict>
			<key>height</key>
			<integer>61</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>61</integer>
			<key>originalWidth</key>
			<integer>43</integer>
			<key>width</key>
			<integer>43</integer>
			<key>x</key>
			<integer>89</integer>
			<key>y</key>
			<integer>180</integer>
		</dict>
		<key>e-107-up-3</key>
		<dict>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>60</integer>
			<key>originalWidth</key>
			<integer>39</integer>
			<key>width</key>
			<integer>39</integer>
			<key>x</key>
			<integer>134</integer>
			<key>y</key>
			<integer>180</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>textureFileName</key>
		<string>e-107.st</string>
	</dict>
</dict>
</plist>
