<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>e-118-down-0</key>
		<dict>
			<key>height</key>
			<integer>82</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>82</integer>
			<key>originalWidth</key>
			<integer>46</integer>
			<key>width</key>
			<integer>46</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-118-down-1</key>
		<dict>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>83</integer>
			<key>originalWidth</key>
			<integer>43</integer>
			<key>width</key>
			<integer>43</integer>
			<key>x</key>
			<integer>48</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-118-down-2</key>
		<dict>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>83</integer>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>width</key>
			<integer>42</integer>
			<key>x</key>
			<integer>93</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-118-down-3</key>
		<dict>
			<key>height</key>
			<integer>82</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>82</integer>
			<key>originalWidth</key>
			<integer>43</integer>
			<key>width</key>
			<integer>43</integer>
			<key>x</key>
			<integer>137</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-118-left-0</key>
		<dict>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>81</integer>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>width</key>
			<integer>74</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>85</integer>
		</dict>
		<key>e-118-left-1</key>
		<dict>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>81</integer>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>width</key>
			<integer>74</integer>
			<key>x</key>
			<integer>76</integer>
			<key>y</key>
			<integer>85</integer>
		</dict>
		<key>e-118-left-2</key>
		<dict>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>78</integer>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>width</key>
			<integer>74</integer>
			<key>x</key>
			<integer>152</integer>
			<key>y</key>
			<integer>85</integer>
		</dict>
		<key>e-118-left-3</key>
		<dict>
			<key>height</key>
			<integer>77</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>77</integer>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>width</key>
			<integer>78</integer>
			<key>x</key>
			<integer>228</integer>
			<key>y</key>
			<integer>85</integer>
		</dict>
		<key>e-118-right-0</key>
		<dict>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>80</integer>
			<key>originalWidth</key>
			<integer>73</integer>
			<key>width</key>
			<integer>73</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>168</integer>
		</dict>
		<key>e-118-right-1</key>
		<dict>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>80</integer>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>width</key>
			<integer>74</integer>
			<key>x</key>
			<integer>75</integer>
			<key>y</key>
			<integer>168</integer>
		</dict>
		<key>e-118-right-2</key>
		<dict>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>79</integer>
			<key>originalWidth</key>
			<integer>84</integer>
			<key>width</key>
			<integer>84</integer>
			<key>x</key>
			<integer>151</integer>
			<key>y</key>
			<integer>168</integer>
		</dict>
		<key>e-118-right-3</key>
		<dict>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>78</integer>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>width</key>
			<integer>78</integer>
			<key>x</key>
			<integer>237</integer>
			<key>y</key>
			<integer>168</integer>
		</dict>
		<key>e-118-up-0</key>
		<dict>
			<key>height</key>
			<integer>77</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>77</integer>
			<key>originalWidth</key>
			<integer>46</integer>
			<key>width</key>
			<integer>46</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>250</integer>
		</dict>
		<key>e-118-up-1</key>
		<dict>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>81</integer>
			<key>originalWidth</key>
			<integer>45</integer>
			<key>width</key>
			<integer>45</integer>
			<key>x</key>
			<integer>48</integer>
			<key>y</key>
			<integer>250</integer>
		</dict>
		<key>e-118-up-2</key>
		<dict>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>79</integer>
			<key>originalWidth</key>
			<integer>45</integer>
			<key>width</key>
			<integer>45</integer>
			<key>x</key>
			<integer>95</integer>
			<key>y</key>
			<integer>250</integer>
		</dict>
		<key>e-118-up-3</key>
		<dict>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>81</integer>
			<key>originalWidth</key>
			<integer>43</integer>
			<key>width</key>
			<integer>43</integer>
			<key>x</key>
			<integer>142</integer>
			<key>y</key>
			<integer>250</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>spriteFrameType</key>
		<integer>1</integer>
		<key>textureFileName</key>
		<string>e-118.st</string>
	</dict>
</dict>
</plist>
