<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>e-192-down-0</key>
		<dict>
			<key>height</key>
			<integer>96</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>96</integer>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>width</key>
			<integer>91</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-192-down-1</key>
		<dict>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>95</integer>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>width</key>
			<integer>91</integer>
			<key>x</key>
			<integer>93</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-192-down-2</key>
		<dict>
			<key>height</key>
			<integer>96</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>96</integer>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>width</key>
			<integer>91</integer>
			<key>x</key>
			<integer>186</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-192-down-3</key>
		<dict>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>95</integer>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>width</key>
			<integer>91</integer>
			<key>x</key>
			<integer>279</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-192-left-0</key>
		<dict>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>95</integer>
			<key>originalWidth</key>
			<integer>83</integer>
			<key>width</key>
			<integer>83</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>98</integer>
		</dict>
		<key>e-192-left-1</key>
		<dict>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>94</integer>
			<key>originalWidth</key>
			<integer>83</integer>
			<key>width</key>
			<integer>83</integer>
			<key>x</key>
			<integer>85</integer>
			<key>y</key>
			<integer>98</integer>
		</dict>
		<key>e-192-left-2</key>
		<dict>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>95</integer>
			<key>originalWidth</key>
			<integer>83</integer>
			<key>width</key>
			<integer>83</integer>
			<key>x</key>
			<integer>170</integer>
			<key>y</key>
			<integer>98</integer>
		</dict>
		<key>e-192-left-3</key>
		<dict>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>94</integer>
			<key>originalWidth</key>
			<integer>83</integer>
			<key>width</key>
			<integer>83</integer>
			<key>x</key>
			<integer>255</integer>
			<key>y</key>
			<integer>98</integer>
		</dict>
		<key>e-192-right-0</key>
		<dict>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>95</integer>
			<key>originalWidth</key>
			<integer>83</integer>
			<key>width</key>
			<integer>83</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>195</integer>
		</dict>
		<key>e-192-right-1</key>
		<dict>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>94</integer>
			<key>originalWidth</key>
			<integer>83</integer>
			<key>width</key>
			<integer>83</integer>
			<key>x</key>
			<integer>85</integer>
			<key>y</key>
			<integer>195</integer>
		</dict>
		<key>e-192-right-2</key>
		<dict>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>95</integer>
			<key>originalWidth</key>
			<integer>83</integer>
			<key>width</key>
			<integer>83</integer>
			<key>x</key>
			<integer>170</integer>
			<key>y</key>
			<integer>195</integer>
		</dict>
		<key>e-192-right-3</key>
		<dict>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>94</integer>
			<key>originalWidth</key>
			<integer>83</integer>
			<key>width</key>
			<integer>83</integer>
			<key>x</key>
			<integer>255</integer>
			<key>y</key>
			<integer>195</integer>
		</dict>
		<key>e-192-up-0</key>
		<dict>
			<key>height</key>
			<integer>96</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>96</integer>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>width</key>
			<integer>91</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>292</integer>
		</dict>
		<key>e-192-up-1</key>
		<dict>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>95</integer>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>width</key>
			<integer>91</integer>
			<key>x</key>
			<integer>93</integer>
			<key>y</key>
			<integer>292</integer>
		</dict>
		<key>e-192-up-2</key>
		<dict>
			<key>height</key>
			<integer>96</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>96</integer>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>width</key>
			<integer>91</integer>
			<key>x</key>
			<integer>186</integer>
			<key>y</key>
			<integer>292</integer>
		</dict>
		<key>e-192-up-3</key>
		<dict>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>95</integer>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>width</key>
			<integer>91</integer>
			<key>x</key>
			<integer>279</integer>
			<key>y</key>
			<integer>292</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>textureFileName</key>
		<string>e-192.st</string>
	</dict>
</dict>
</plist>
