<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>e-208-down-0</key>
		<dict>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>43</integer>
			<key>originalWidth</key>
			<integer>28</integer>
			<key>width</key>
			<integer>28</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-208-down-1</key>
		<dict>
			<key>height</key>
			<integer>46</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>46</integer>
			<key>originalWidth</key>
			<integer>28</integer>
			<key>width</key>
			<integer>28</integer>
			<key>x</key>
			<integer>30</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-208-down-2</key>
		<dict>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>44</integer>
			<key>originalWidth</key>
			<integer>28</integer>
			<key>width</key>
			<integer>28</integer>
			<key>x</key>
			<integer>60</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-208-down-3</key>
		<dict>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>45</integer>
			<key>originalWidth</key>
			<integer>28</integer>
			<key>width</key>
			<integer>28</integer>
			<key>x</key>
			<integer>90</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-208-left-0</key>
		<dict>
			<key>height</key>
			<integer>41</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>41</integer>
			<key>originalWidth</key>
			<integer>25</integer>
			<key>width</key>
			<integer>25</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>48</integer>
		</dict>
		<key>e-208-left-1</key>
		<dict>
			<key>height</key>
			<integer>46</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>46</integer>
			<key>originalWidth</key>
			<integer>25</integer>
			<key>width</key>
			<integer>25</integer>
			<key>x</key>
			<integer>27</integer>
			<key>y</key>
			<integer>48</integer>
		</dict>
		<key>e-208-left-2</key>
		<dict>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>43</integer>
			<key>originalWidth</key>
			<integer>25</integer>
			<key>width</key>
			<integer>25</integer>
			<key>x</key>
			<integer>54</integer>
			<key>y</key>
			<integer>48</integer>
		</dict>
		<key>e-208-left-3</key>
		<dict>
			<key>height</key>
			<integer>46</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>46</integer>
			<key>originalWidth</key>
			<integer>25</integer>
			<key>width</key>
			<integer>25</integer>
			<key>x</key>
			<integer>81</integer>
			<key>y</key>
			<integer>48</integer>
		</dict>
		<key>e-208-right-0</key>
		<dict>
			<key>height</key>
			<integer>41</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>41</integer>
			<key>originalWidth</key>
			<integer>25</integer>
			<key>width</key>
			<integer>25</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>96</integer>
		</dict>
		<key>e-208-right-1</key>
		<dict>
			<key>height</key>
			<integer>46</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>46</integer>
			<key>originalWidth</key>
			<integer>25</integer>
			<key>width</key>
			<integer>25</integer>
			<key>x</key>
			<integer>27</integer>
			<key>y</key>
			<integer>96</integer>
		</dict>
		<key>e-208-right-2</key>
		<dict>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>43</integer>
			<key>originalWidth</key>
			<integer>25</integer>
			<key>width</key>
			<integer>25</integer>
			<key>x</key>
			<integer>54</integer>
			<key>y</key>
			<integer>96</integer>
		</dict>
		<key>e-208-right-3</key>
		<dict>
			<key>height</key>
			<integer>46</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>46</integer>
			<key>originalWidth</key>
			<integer>25</integer>
			<key>width</key>
			<integer>25</integer>
			<key>x</key>
			<integer>81</integer>
			<key>y</key>
			<integer>96</integer>
		</dict>
		<key>e-208-up-0</key>
		<dict>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>43</integer>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>width</key>
			<integer>27</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>144</integer>
		</dict>
		<key>e-208-up-1</key>
		<dict>
			<key>height</key>
			<integer>47</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>47</integer>
			<key>originalWidth</key>
			<integer>29</integer>
			<key>width</key>
			<integer>29</integer>
			<key>x</key>
			<integer>29</integer>
			<key>y</key>
			<integer>144</integer>
		</dict>
		<key>e-208-up-2</key>
		<dict>
			<key>height</key>
			<integer>46</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>46</integer>
			<key>originalWidth</key>
			<integer>29</integer>
			<key>width</key>
			<integer>29</integer>
			<key>x</key>
			<integer>60</integer>
			<key>y</key>
			<integer>144</integer>
		</dict>
		<key>e-208-up-3</key>
		<dict>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>45</integer>
			<key>originalWidth</key>
			<integer>29</integer>
			<key>width</key>
			<integer>29</integer>
			<key>x</key>
			<integer>91</integer>
			<key>y</key>
			<integer>144</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>textureFileName</key>
		<string>e-208.st</string>
	</dict>
</dict>
</plist>
