<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>e-201-down-0</key>
		<dict>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>45</integer>
			<key>originalWidth</key>
			<integer>37</integer>
			<key>width</key>
			<integer>37</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-201-down-1</key>
		<dict>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>44</integer>
			<key>originalWidth</key>
			<integer>31</integer>
			<key>width</key>
			<integer>31</integer>
			<key>x</key>
			<integer>39</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-201-down-2</key>
		<dict>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>45</integer>
			<key>originalWidth</key>
			<integer>37</integer>
			<key>width</key>
			<integer>37</integer>
			<key>x</key>
			<integer>72</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-201-down-3</key>
		<dict>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>44</integer>
			<key>originalWidth</key>
			<integer>31</integer>
			<key>width</key>
			<integer>31</integer>
			<key>x</key>
			<integer>111</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-201-left-0</key>
		<dict>
			<key>height</key>
			<integer>24</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>24</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>width</key>
			<integer>64</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>47</integer>
		</dict>
		<key>e-201-left-1</key>
		<dict>
			<key>height</key>
			<integer>23</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>23</integer>
			<key>originalWidth</key>
			<integer>63</integer>
			<key>width</key>
			<integer>63</integer>
			<key>x</key>
			<integer>66</integer>
			<key>y</key>
			<integer>47</integer>
		</dict>
		<key>e-201-left-2</key>
		<dict>
			<key>height</key>
			<integer>24</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>24</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>width</key>
			<integer>64</integer>
			<key>x</key>
			<integer>131</integer>
			<key>y</key>
			<integer>47</integer>
		</dict>
		<key>e-201-left-3</key>
		<dict>
			<key>height</key>
			<integer>23</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>23</integer>
			<key>originalWidth</key>
			<integer>63</integer>
			<key>width</key>
			<integer>63</integer>
			<key>x</key>
			<integer>197</integer>
			<key>y</key>
			<integer>47</integer>
		</dict>
		<key>e-201-right-0</key>
		<dict>
			<key>height</key>
			<integer>24</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>24</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>width</key>
			<integer>64</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>73</integer>
		</dict>
		<key>e-201-right-1</key>
		<dict>
			<key>height</key>
			<integer>23</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>23</integer>
			<key>originalWidth</key>
			<integer>63</integer>
			<key>width</key>
			<integer>63</integer>
			<key>x</key>
			<integer>66</integer>
			<key>y</key>
			<integer>73</integer>
		</dict>
		<key>e-201-right-2</key>
		<dict>
			<key>height</key>
			<integer>24</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>24</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>width</key>
			<integer>64</integer>
			<key>x</key>
			<integer>131</integer>
			<key>y</key>
			<integer>73</integer>
		</dict>
		<key>e-201-right-3</key>
		<dict>
			<key>height</key>
			<integer>23</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>23</integer>
			<key>originalWidth</key>
			<integer>63</integer>
			<key>width</key>
			<integer>63</integer>
			<key>x</key>
			<integer>197</integer>
			<key>y</key>
			<integer>73</integer>
		</dict>
		<key>e-201-up-0</key>
		<dict>
			<key>height</key>
			<integer>46</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>46</integer>
			<key>originalWidth</key>
			<integer>31</integer>
			<key>width</key>
			<integer>31</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>99</integer>
		</dict>
		<key>e-201-up-1</key>
		<dict>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>45</integer>
			<key>originalWidth</key>
			<integer>28</integer>
			<key>width</key>
			<integer>28</integer>
			<key>x</key>
			<integer>33</integer>
			<key>y</key>
			<integer>99</integer>
		</dict>
		<key>e-201-up-2</key>
		<dict>
			<key>height</key>
			<integer>46</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>46</integer>
			<key>originalWidth</key>
			<integer>31</integer>
			<key>width</key>
			<integer>31</integer>
			<key>x</key>
			<integer>63</integer>
			<key>y</key>
			<integer>99</integer>
		</dict>
		<key>e-201-up-3</key>
		<dict>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>45</integer>
			<key>originalWidth</key>
			<integer>28</integer>
			<key>width</key>
			<integer>28</integer>
			<key>x</key>
			<integer>96</integer>
			<key>y</key>
			<integer>99</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>textureFileName</key>
		<string>e-201.st</string>
	</dict>
</dict>
</plist>
