<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>e-294-down-0</key>
		<dict>
			<key>height</key>
			<integer>141</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>141</integer>
			<key>originalWidth</key>
			<integer>103</integer>
			<key>width</key>
			<integer>103</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-294-down-1</key>
		<dict>
			<key>height</key>
			<integer>138</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>138</integer>
			<key>originalWidth</key>
			<integer>98</integer>
			<key>width</key>
			<integer>98</integer>
			<key>x</key>
			<integer>105</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-294-down-2</key>
		<dict>
			<key>height</key>
			<integer>141</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>141</integer>
			<key>originalWidth</key>
			<integer>103</integer>
			<key>width</key>
			<integer>103</integer>
			<key>x</key>
			<integer>205</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-294-down-3</key>
		<dict>
			<key>height</key>
			<integer>138</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>138</integer>
			<key>originalWidth</key>
			<integer>98</integer>
			<key>width</key>
			<integer>98</integer>
			<key>x</key>
			<integer>310</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-294-left-0</key>
		<dict>
			<key>height</key>
			<integer>138</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>138</integer>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>width</key>
			<integer>80</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>143</integer>
		</dict>
		<key>e-294-left-1</key>
		<dict>
			<key>height</key>
			<integer>135</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>135</integer>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>width</key>
			<integer>78</integer>
			<key>x</key>
			<integer>82</integer>
			<key>y</key>
			<integer>143</integer>
		</dict>
		<key>e-294-left-2</key>
		<dict>
			<key>height</key>
			<integer>138</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>138</integer>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>width</key>
			<integer>80</integer>
			<key>x</key>
			<integer>162</integer>
			<key>y</key>
			<integer>143</integer>
		</dict>
		<key>e-294-left-3</key>
		<dict>
			<key>height</key>
			<integer>133</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>133</integer>
			<key>originalWidth</key>
			<integer>103</integer>
			<key>width</key>
			<integer>103</integer>
			<key>x</key>
			<integer>244</integer>
			<key>y</key>
			<integer>143</integer>
		</dict>
		<key>e-294-right-0</key>
		<dict>
			<key>height</key>
			<integer>138</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>138</integer>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>width</key>
			<integer>70</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>283</integer>
		</dict>
		<key>e-294-right-1</key>
		<dict>
			<key>height</key>
			<integer>133</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>133</integer>
			<key>originalWidth</key>
			<integer>84</integer>
			<key>width</key>
			<integer>84</integer>
			<key>x</key>
			<integer>72</integer>
			<key>y</key>
			<integer>283</integer>
		</dict>
		<key>e-294-right-2</key>
		<dict>
			<key>height</key>
			<integer>138</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>138</integer>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>width</key>
			<integer>70</integer>
			<key>x</key>
			<integer>158</integer>
			<key>y</key>
			<integer>283</integer>
		</dict>
		<key>e-294-right-3</key>
		<dict>
			<key>height</key>
			<integer>135</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>135</integer>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>width</key>
			<integer>78</integer>
			<key>x</key>
			<integer>230</integer>
			<key>y</key>
			<integer>283</integer>
		</dict>
		<key>e-294-up-0</key>
		<dict>
			<key>height</key>
			<integer>141</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>141</integer>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>width</key>
			<integer>100</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>423</integer>
		</dict>
		<key>e-294-up-1</key>
		<dict>
			<key>height</key>
			<integer>139</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>139</integer>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>width</key>
			<integer>96</integer>
			<key>x</key>
			<integer>102</integer>
			<key>y</key>
			<integer>423</integer>
		</dict>
		<key>e-294-up-2</key>
		<dict>
			<key>height</key>
			<integer>141</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>141</integer>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>width</key>
			<integer>100</integer>
			<key>x</key>
			<integer>200</integer>
			<key>y</key>
			<integer>423</integer>
		</dict>
		<key>e-294-up-3</key>
		<dict>
			<key>height</key>
			<integer>139</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>139</integer>
			<key>originalWidth</key>
			<integer>97</integer>
			<key>width</key>
			<integer>97</integer>
			<key>x</key>
			<integer>302</integer>
			<key>y</key>
			<integer>423</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>textureFileName</key>
		<string>e-294.st</string>
	</dict>
</dict>
</plist>
