<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>e-295-down-0</key>
		<dict>
			<key>height</key>
			<integer>137</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>137</integer>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>width</key>
			<integer>100</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-295-down-1</key>
		<dict>
			<key>height</key>
			<integer>134</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>134</integer>
			<key>originalWidth</key>
			<integer>98</integer>
			<key>width</key>
			<integer>98</integer>
			<key>x</key>
			<integer>102</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-295-down-2</key>
		<dict>
			<key>height</key>
			<integer>137</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>137</integer>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>width</key>
			<integer>100</integer>
			<key>x</key>
			<integer>202</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-295-down-3</key>
		<dict>
			<key>height</key>
			<integer>134</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>134</integer>
			<key>originalWidth</key>
			<integer>98</integer>
			<key>width</key>
			<integer>98</integer>
			<key>x</key>
			<integer>304</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-295-left-0</key>
		<dict>
			<key>height</key>
			<integer>134</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>134</integer>
			<key>originalWidth</key>
			<integer>83</integer>
			<key>width</key>
			<integer>83</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>139</integer>
		</dict>
		<key>e-295-left-1</key>
		<dict>
			<key>height</key>
			<integer>130</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>130</integer>
			<key>originalWidth</key>
			<integer>88</integer>
			<key>width</key>
			<integer>88</integer>
			<key>x</key>
			<integer>85</integer>
			<key>y</key>
			<integer>139</integer>
		</dict>
		<key>e-295-left-2</key>
		<dict>
			<key>height</key>
			<integer>134</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>134</integer>
			<key>originalWidth</key>
			<integer>83</integer>
			<key>width</key>
			<integer>83</integer>
			<key>x</key>
			<integer>175</integer>
			<key>y</key>
			<integer>139</integer>
		</dict>
		<key>e-295-left-3</key>
		<dict>
			<key>height</key>
			<integer>128</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>128</integer>
			<key>originalWidth</key>
			<integer>107</integer>
			<key>width</key>
			<integer>107</integer>
			<key>x</key>
			<integer>260</integer>
			<key>y</key>
			<integer>139</integer>
		</dict>
		<key>e-295-right-0</key>
		<dict>
			<key>height</key>
			<integer>134</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>134</integer>
			<key>originalWidth</key>
			<integer>83</integer>
			<key>width</key>
			<integer>83</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>275</integer>
		</dict>
		<key>e-295-right-1</key>
		<dict>
			<key>height</key>
			<integer>128</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>128</integer>
			<key>originalWidth</key>
			<integer>82</integer>
			<key>width</key>
			<integer>82</integer>
			<key>x</key>
			<integer>85</integer>
			<key>y</key>
			<integer>275</integer>
		</dict>
		<key>e-295-right-2</key>
		<dict>
			<key>height</key>
			<integer>134</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>134</integer>
			<key>originalWidth</key>
			<integer>83</integer>
			<key>width</key>
			<integer>83</integer>
			<key>x</key>
			<integer>169</integer>
			<key>y</key>
			<integer>275</integer>
		</dict>
		<key>e-295-right-3</key>
		<dict>
			<key>height</key>
			<integer>130</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>130</integer>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>width</key>
			<integer>90</integer>
			<key>x</key>
			<integer>254</integer>
			<key>y</key>
			<integer>275</integer>
		</dict>
		<key>e-295-up-0</key>
		<dict>
			<key>height</key>
			<integer>137</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>137</integer>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>width</key>
			<integer>100</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>411</integer>
		</dict>
		<key>e-295-up-1</key>
		<dict>
			<key>height</key>
			<integer>136</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>136</integer>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>width</key>
			<integer>96</integer>
			<key>x</key>
			<integer>102</integer>
			<key>y</key>
			<integer>411</integer>
		</dict>
		<key>e-295-up-2</key>
		<dict>
			<key>height</key>
			<integer>137</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>137</integer>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>width</key>
			<integer>100</integer>
			<key>x</key>
			<integer>200</integer>
			<key>y</key>
			<integer>411</integer>
		</dict>
		<key>e-295-up-3</key>
		<dict>
			<key>height</key>
			<integer>136</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>136</integer>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>width</key>
			<integer>96</integer>
			<key>x</key>
			<integer>302</integer>
			<key>y</key>
			<integer>411</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>spriteFrameType</key>
		<integer>3</integer>
		<key>textureFileName</key>
		<string>e-295.st</string>
	</dict>
</dict>
</plist>
