<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>e-292-down-0</key>
		<dict>
			<key>height</key>
			<integer>103</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>103</integer>
			<key>originalWidth</key>
			<integer>89</integer>
			<key>width</key>
			<integer>89</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-292-down-1</key>
		<dict>
			<key>height</key>
			<integer>108</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>108</integer>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>width</key>
			<integer>77</integer>
			<key>x</key>
			<integer>91</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-292-down-2</key>
		<dict>
			<key>height</key>
			<integer>103</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>103</integer>
			<key>originalWidth</key>
			<integer>89</integer>
			<key>width</key>
			<integer>89</integer>
			<key>x</key>
			<integer>170</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-292-down-3</key>
		<dict>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>110</integer>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>width</key>
			<integer>78</integer>
			<key>x</key>
			<integer>261</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-292-left-0</key>
		<dict>
			<key>height</key>
			<integer>105</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>105</integer>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>width</key>
			<integer>40</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>112</integer>
		</dict>
		<key>e-292-left-1</key>
		<dict>
			<key>height</key>
			<integer>103</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>103</integer>
			<key>originalWidth</key>
			<integer>71</integer>
			<key>width</key>
			<integer>71</integer>
			<key>x</key>
			<integer>42</integer>
			<key>y</key>
			<integer>112</integer>
		</dict>
		<key>e-292-left-2</key>
		<dict>
			<key>height</key>
			<integer>105</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>105</integer>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>width</key>
			<integer>40</integer>
			<key>x</key>
			<integer>115</integer>
			<key>y</key>
			<integer>112</integer>
		</dict>
		<key>e-292-left-3</key>
		<dict>
			<key>height</key>
			<integer>103</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>103</integer>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>width</key>
			<integer>74</integer>
			<key>x</key>
			<integer>157</integer>
			<key>y</key>
			<integer>112</integer>
		</dict>
		<key>e-292-right-0</key>
		<dict>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>106</integer>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>width</key>
			<integer>40</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>219</integer>
		</dict>
		<key>e-292-right-1</key>
		<dict>
			<key>height</key>
			<integer>103</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>103</integer>
			<key>originalWidth</key>
			<integer>65</integer>
			<key>width</key>
			<integer>65</integer>
			<key>x</key>
			<integer>42</integer>
			<key>y</key>
			<integer>219</integer>
		</dict>
		<key>e-292-right-2</key>
		<dict>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>106</integer>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>width</key>
			<integer>40</integer>
			<key>x</key>
			<integer>109</integer>
			<key>y</key>
			<integer>219</integer>
		</dict>
		<key>e-292-right-3</key>
		<dict>
			<key>height</key>
			<integer>103</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>103</integer>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>width</key>
			<integer>70</integer>
			<key>x</key>
			<integer>151</integer>
			<key>y</key>
			<integer>219</integer>
		</dict>
		<key>e-292-up-0</key>
		<dict>
			<key>height</key>
			<integer>107</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>107</integer>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>width</key>
			<integer>91</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>327</integer>
		</dict>
		<key>e-292-up-1</key>
		<dict>
			<key>height</key>
			<integer>105</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>105</integer>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>width</key>
			<integer>78</integer>
			<key>x</key>
			<integer>93</integer>
			<key>y</key>
			<integer>327</integer>
		</dict>
		<key>e-292-up-2</key>
		<dict>
			<key>height</key>
			<integer>107</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>107</integer>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>width</key>
			<integer>91</integer>
			<key>x</key>
			<integer>173</integer>
			<key>y</key>
			<integer>327</integer>
		</dict>
		<key>e-292-up-3</key>
		<dict>
			<key>height</key>
			<integer>105</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>105</integer>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>width</key>
			<integer>78</integer>
			<key>x</key>
			<integer>266</integer>
			<key>y</key>
			<integer>327</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>textureFileName</key>
		<string>e-292.st</string>
	</dict>
</dict>
</plist>
