<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>e-316-down-0</key>
		<dict>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>45</integer>
			<key>originalWidth</key>
			<integer>23</integer>
			<key>width</key>
			<integer>23</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-316-down-1</key>
		<dict>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>45</integer>
			<key>originalWidth</key>
			<integer>22</integer>
			<key>width</key>
			<integer>22</integer>
			<key>x</key>
			<integer>25</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-316-down-2</key>
		<dict>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>45</integer>
			<key>originalWidth</key>
			<integer>23</integer>
			<key>width</key>
			<integer>23</integer>
			<key>x</key>
			<integer>49</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-316-down-3</key>
		<dict>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>45</integer>
			<key>originalWidth</key>
			<integer>22</integer>
			<key>width</key>
			<integer>22</integer>
			<key>x</key>
			<integer>74</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-316-left-0</key>
		<dict>
			<key>height</key>
			<integer>46</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>46</integer>
			<key>originalWidth</key>
			<integer>19</integer>
			<key>width</key>
			<integer>19</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>47</integer>
		</dict>
		<key>e-316-left-1</key>
		<dict>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>45</integer>
			<key>originalWidth</key>
			<integer>19</integer>
			<key>width</key>
			<integer>19</integer>
			<key>x</key>
			<integer>21</integer>
			<key>y</key>
			<integer>47</integer>
		</dict>
		<key>e-316-left-2</key>
		<dict>
			<key>height</key>
			<integer>46</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>46</integer>
			<key>originalWidth</key>
			<integer>19</integer>
			<key>width</key>
			<integer>19</integer>
			<key>x</key>
			<integer>42</integer>
			<key>y</key>
			<integer>47</integer>
		</dict>
		<key>e-316-left-3</key>
		<dict>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>45</integer>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>width</key>
			<integer>20</integer>
			<key>x</key>
			<integer>63</integer>
			<key>y</key>
			<integer>47</integer>
		</dict>
		<key>e-316-right-0</key>
		<dict>
			<key>height</key>
			<integer>46</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>46</integer>
			<key>originalWidth</key>
			<integer>19</integer>
			<key>width</key>
			<integer>19</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>95</integer>
		</dict>
		<key>e-316-right-1</key>
		<dict>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>45</integer>
			<key>originalWidth</key>
			<integer>19</integer>
			<key>width</key>
			<integer>19</integer>
			<key>x</key>
			<integer>21</integer>
			<key>y</key>
			<integer>95</integer>
		</dict>
		<key>e-316-right-2</key>
		<dict>
			<key>height</key>
			<integer>46</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>46</integer>
			<key>originalWidth</key>
			<integer>19</integer>
			<key>width</key>
			<integer>19</integer>
			<key>x</key>
			<integer>42</integer>
			<key>y</key>
			<integer>95</integer>
		</dict>
		<key>e-316-right-3</key>
		<dict>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>45</integer>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>width</key>
			<integer>20</integer>
			<key>x</key>
			<integer>63</integer>
			<key>y</key>
			<integer>95</integer>
		</dict>
		<key>e-316-up-0</key>
		<dict>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>45</integer>
			<key>originalWidth</key>
			<integer>23</integer>
			<key>width</key>
			<integer>23</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>143</integer>
		</dict>
		<key>e-316-up-1</key>
		<dict>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>44</integer>
			<key>originalWidth</key>
			<integer>22</integer>
			<key>width</key>
			<integer>22</integer>
			<key>x</key>
			<integer>25</integer>
			<key>y</key>
			<integer>143</integer>
		</dict>
		<key>e-316-up-2</key>
		<dict>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>45</integer>
			<key>originalWidth</key>
			<integer>23</integer>
			<key>width</key>
			<integer>23</integer>
			<key>x</key>
			<integer>49</integer>
			<key>y</key>
			<integer>143</integer>
		</dict>
		<key>e-316-up-3</key>
		<dict>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>44</integer>
			<key>originalWidth</key>
			<integer>22</integer>
			<key>width</key>
			<integer>22</integer>
			<key>x</key>
			<integer>74</integer>
			<key>y</key>
			<integer>143</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>spriteFrameType</key>
		<integer>1</integer>
		<key>textureFileName</key>
		<string>e-316.st</string>
	</dict>
</dict>
</plist>
