<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>e-394-down-0</key>
		<dict>
			<key>height</key>
			<integer>77</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>77</integer>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>width</key>
			<integer>96</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-394-down-1</key>
		<dict>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>78</integer>
			<key>originalWidth</key>
			<integer>62</integer>
			<key>width</key>
			<integer>62</integer>
			<key>x</key>
			<integer>98</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-394-down-2</key>
		<dict>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>78</integer>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>width</key>
			<integer>96</integer>
			<key>x</key>
			<integer>162</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-394-down-3</key>
		<dict>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>56</integer>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>width</key>
			<integer>96</integer>
			<key>x</key>
			<integer>260</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-394-left-0</key>
		<dict>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>71</integer>
			<key>originalWidth</key>
			<integer>95</integer>
			<key>width</key>
			<integer>95</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>80</integer>
		</dict>
		<key>e-394-left-1</key>
		<dict>
			<key>height</key>
			<integer>82</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>82</integer>
			<key>originalWidth</key>
			<integer>94</integer>
			<key>width</key>
			<integer>94</integer>
			<key>x</key>
			<integer>97</integer>
			<key>y</key>
			<integer>80</integer>
		</dict>
		<key>e-394-left-2</key>
		<dict>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>71</integer>
			<key>originalWidth</key>
			<integer>95</integer>
			<key>width</key>
			<integer>95</integer>
			<key>x</key>
			<integer>193</integer>
			<key>y</key>
			<integer>80</integer>
		</dict>
		<key>e-394-left-3</key>
		<dict>
			<key>height</key>
			<integer>69</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>69</integer>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>width</key>
			<integer>96</integer>
			<key>x</key>
			<integer>290</integer>
			<key>y</key>
			<integer>80</integer>
		</dict>
		<key>e-394-right-0</key>
		<dict>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>71</integer>
			<key>originalWidth</key>
			<integer>95</integer>
			<key>width</key>
			<integer>95</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>164</integer>
		</dict>
		<key>e-394-right-1</key>
		<dict>
			<key>height</key>
			<integer>82</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>82</integer>
			<key>originalWidth</key>
			<integer>94</integer>
			<key>width</key>
			<integer>94</integer>
			<key>x</key>
			<integer>97</integer>
			<key>y</key>
			<integer>164</integer>
		</dict>
		<key>e-394-right-2</key>
		<dict>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>71</integer>
			<key>originalWidth</key>
			<integer>95</integer>
			<key>width</key>
			<integer>95</integer>
			<key>x</key>
			<integer>193</integer>
			<key>y</key>
			<integer>164</integer>
		</dict>
		<key>e-394-right-3</key>
		<dict>
			<key>height</key>
			<integer>69</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>69</integer>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>width</key>
			<integer>96</integer>
			<key>x</key>
			<integer>290</integer>
			<key>y</key>
			<integer>164</integer>
		</dict>
		<key>e-394-up-0</key>
		<dict>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>91</integer>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>width</key>
			<integer>96</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>248</integer>
		</dict>
		<key>e-394-up-1</key>
		<dict>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>90</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>width</key>
			<integer>64</integer>
			<key>x</key>
			<integer>98</integer>
			<key>y</key>
			<integer>248</integer>
		</dict>
		<key>e-394-up-2</key>
		<dict>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>91</integer>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>width</key>
			<integer>96</integer>
			<key>x</key>
			<integer>164</integer>
			<key>y</key>
			<integer>248</integer>
		</dict>
		<key>e-394-up-3</key>
		<dict>
			<key>height</key>
			<integer>75</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>75</integer>
			<key>originalWidth</key>
			<integer>95</integer>
			<key>width</key>
			<integer>95</integer>
			<key>x</key>
			<integer>262</integer>
			<key>y</key>
			<integer>248</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>textureFileName</key>
		<string>e-394.st</string>
	</dict>
</dict>
</plist>
