<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>e-392-down-0</key>
		<dict>
			<key>height</key>
			<integer>46</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>46</integer>
			<key>originalWidth</key>
			<integer>95</integer>
			<key>width</key>
			<integer>95</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-392-down-1</key>
		<dict>
			<key>height</key>
			<integer>47</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>47</integer>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>width</key>
			<integer>77</integer>
			<key>x</key>
			<integer>97</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-392-down-2</key>
		<dict>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>42</integer>
			<key>originalWidth</key>
			<integer>93</integer>
			<key>width</key>
			<integer>93</integer>
			<key>x</key>
			<integer>176</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-392-down-3</key>
		<dict>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>50</integer>
			<key>originalWidth</key>
			<integer>82</integer>
			<key>width</key>
			<integer>82</integer>
			<key>x</key>
			<integer>271</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-392-left-0</key>
		<dict>
			<key>height</key>
			<integer>55</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>55</integer>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>width</key>
			<integer>70</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>52</integer>
		</dict>
		<key>e-392-left-1</key>
		<dict>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>56</integer>
			<key>originalWidth</key>
			<integer>75</integer>
			<key>width</key>
			<integer>75</integer>
			<key>x</key>
			<integer>72</integer>
			<key>y</key>
			<integer>52</integer>
		</dict>
		<key>e-392-left-2</key>
		<dict>
			<key>height</key>
			<integer>55</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>55</integer>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>width</key>
			<integer>70</integer>
			<key>x</key>
			<integer>149</integer>
			<key>y</key>
			<integer>52</integer>
		</dict>
		<key>e-392-left-3</key>
		<dict>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>76</integer>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>width</key>
			<integer>70</integer>
			<key>x</key>
			<integer>221</integer>
			<key>y</key>
			<integer>52</integer>
		</dict>
		<key>e-392-right-0</key>
		<dict>
			<key>height</key>
			<integer>55</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>55</integer>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>width</key>
			<integer>70</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>130</integer>
		</dict>
		<key>e-392-right-1</key>
		<dict>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>56</integer>
			<key>originalWidth</key>
			<integer>75</integer>
			<key>width</key>
			<integer>75</integer>
			<key>x</key>
			<integer>72</integer>
			<key>y</key>
			<integer>130</integer>
		</dict>
		<key>e-392-right-2</key>
		<dict>
			<key>height</key>
			<integer>55</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>55</integer>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>width</key>
			<integer>70</integer>
			<key>x</key>
			<integer>149</integer>
			<key>y</key>
			<integer>130</integer>
		</dict>
		<key>e-392-right-3</key>
		<dict>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>76</integer>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>width</key>
			<integer>70</integer>
			<key>x</key>
			<integer>221</integer>
			<key>y</key>
			<integer>130</integer>
		</dict>
		<key>e-392-up-0</key>
		<dict>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>56</integer>
			<key>originalWidth</key>
			<integer>95</integer>
			<key>width</key>
			<integer>95</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>208</integer>
		</dict>
		<key>e-392-up-1</key>
		<dict>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>57</integer>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>width</key>
			<integer>91</integer>
			<key>x</key>
			<integer>97</integer>
			<key>y</key>
			<integer>208</integer>
		</dict>
		<key>e-392-up-2</key>
		<dict>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>56</integer>
			<key>originalWidth</key>
			<integer>95</integer>
			<key>width</key>
			<integer>95</integer>
			<key>x</key>
			<integer>190</integer>
			<key>y</key>
			<integer>208</integer>
		</dict>
		<key>e-392-up-3</key>
		<dict>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>83</integer>
			<key>originalWidth</key>
			<integer>79</integer>
			<key>width</key>
			<integer>79</integer>
			<key>x</key>
			<integer>287</integer>
			<key>y</key>
			<integer>208</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>spriteFrameType</key>
		<integer>3</integer>
		<key>textureFileName</key>
		<string>e-392.st</string>
	</dict>
</dict>
</plist>
