<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>e-402-down-0</key>
		<dict>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>44</integer>
			<key>originalWidth</key>
			<integer>41</integer>
			<key>width</key>
			<integer>41</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-402-down-1</key>
		<dict>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>39</integer>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>width</key>
			<integer>40</integer>
			<key>x</key>
			<integer>43</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-402-down-2</key>
		<dict>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>34</integer>
			<key>originalWidth</key>
			<integer>37</integer>
			<key>width</key>
			<integer>37</integer>
			<key>x</key>
			<integer>85</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-402-down-3</key>
		<dict>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>39</integer>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>width</key>
			<integer>40</integer>
			<key>x</key>
			<integer>124</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-402-left-0</key>
		<dict>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>44</integer>
			<key>originalWidth</key>
			<integer>41</integer>
			<key>width</key>
			<integer>41</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>46</integer>
		</dict>
		<key>e-402-left-1</key>
		<dict>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>39</integer>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>width</key>
			<integer>40</integer>
			<key>x</key>
			<integer>43</integer>
			<key>y</key>
			<integer>46</integer>
		</dict>
		<key>e-402-left-2</key>
		<dict>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>34</integer>
			<key>originalWidth</key>
			<integer>37</integer>
			<key>width</key>
			<integer>37</integer>
			<key>x</key>
			<integer>85</integer>
			<key>y</key>
			<integer>46</integer>
		</dict>
		<key>e-402-left-3</key>
		<dict>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>39</integer>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>width</key>
			<integer>40</integer>
			<key>x</key>
			<integer>124</integer>
			<key>y</key>
			<integer>46</integer>
		</dict>
		<key>e-402-right-0</key>
		<dict>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>44</integer>
			<key>originalWidth</key>
			<integer>41</integer>
			<key>width</key>
			<integer>41</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>92</integer>
		</dict>
		<key>e-402-right-1</key>
		<dict>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>39</integer>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>width</key>
			<integer>40</integer>
			<key>x</key>
			<integer>43</integer>
			<key>y</key>
			<integer>92</integer>
		</dict>
		<key>e-402-right-2</key>
		<dict>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>34</integer>
			<key>originalWidth</key>
			<integer>37</integer>
			<key>width</key>
			<integer>37</integer>
			<key>x</key>
			<integer>85</integer>
			<key>y</key>
			<integer>92</integer>
		</dict>
		<key>e-402-right-3</key>
		<dict>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>39</integer>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>width</key>
			<integer>40</integer>
			<key>x</key>
			<integer>124</integer>
			<key>y</key>
			<integer>92</integer>
		</dict>
		<key>e-402-up-0</key>
		<dict>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>44</integer>
			<key>originalWidth</key>
			<integer>41</integer>
			<key>width</key>
			<integer>41</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>138</integer>
		</dict>
		<key>e-402-up-1</key>
		<dict>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>39</integer>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>width</key>
			<integer>40</integer>
			<key>x</key>
			<integer>43</integer>
			<key>y</key>
			<integer>138</integer>
		</dict>
		<key>e-402-up-2</key>
		<dict>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>34</integer>
			<key>originalWidth</key>
			<integer>37</integer>
			<key>width</key>
			<integer>37</integer>
			<key>x</key>
			<integer>85</integer>
			<key>y</key>
			<integer>138</integer>
		</dict>
		<key>e-402-up-3</key>
		<dict>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>39</integer>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>width</key>
			<integer>40</integer>
			<key>x</key>
			<integer>124</integer>
			<key>y</key>
			<integer>138</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>textureFileName</key>
		<string>e-402.st</string>
	</dict>
</dict>
</plist>
