<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>e-401-down-0</key>
		<dict>
			<key>height</key>
			<integer>25</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>25</integer>
			<key>originalWidth</key>
			<integer>31</integer>
			<key>width</key>
			<integer>31</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-401-down-1</key>
		<dict>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>20</integer>
			<key>originalWidth</key>
			<integer>31</integer>
			<key>width</key>
			<integer>31</integer>
			<key>x</key>
			<integer>33</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-401-down-2</key>
		<dict>
			<key>height</key>
			<integer>25</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>25</integer>
			<key>originalWidth</key>
			<integer>25</integer>
			<key>width</key>
			<integer>25</integer>
			<key>x</key>
			<integer>66</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-401-down-3</key>
		<dict>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>20</integer>
			<key>originalWidth</key>
			<integer>31</integer>
			<key>width</key>
			<integer>31</integer>
			<key>x</key>
			<integer>93</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-401-left-0</key>
		<dict>
			<key>height</key>
			<integer>23</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>23</integer>
			<key>originalWidth</key>
			<integer>26</integer>
			<key>width</key>
			<integer>26</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>27</integer>
		</dict>
		<key>e-401-left-1</key>
		<dict>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>20</integer>
			<key>originalWidth</key>
			<integer>26</integer>
			<key>width</key>
			<integer>26</integer>
			<key>x</key>
			<integer>28</integer>
			<key>y</key>
			<integer>27</integer>
		</dict>
		<key>e-401-left-2</key>
		<dict>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>28</integer>
			<key>originalWidth</key>
			<integer>18</integer>
			<key>width</key>
			<integer>18</integer>
			<key>x</key>
			<integer>56</integer>
			<key>y</key>
			<integer>27</integer>
		</dict>
		<key>e-401-left-3</key>
		<dict>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>20</integer>
			<key>originalWidth</key>
			<integer>26</integer>
			<key>width</key>
			<integer>26</integer>
			<key>x</key>
			<integer>76</integer>
			<key>y</key>
			<integer>27</integer>
		</dict>
		<key>e-401-right-0</key>
		<dict>
			<key>height</key>
			<integer>23</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>23</integer>
			<key>originalWidth</key>
			<integer>26</integer>
			<key>width</key>
			<integer>26</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>57</integer>
		</dict>
		<key>e-401-right-1</key>
		<dict>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>20</integer>
			<key>originalWidth</key>
			<integer>26</integer>
			<key>width</key>
			<integer>26</integer>
			<key>x</key>
			<integer>28</integer>
			<key>y</key>
			<integer>57</integer>
		</dict>
		<key>e-401-right-2</key>
		<dict>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>28</integer>
			<key>originalWidth</key>
			<integer>18</integer>
			<key>width</key>
			<integer>18</integer>
			<key>x</key>
			<integer>56</integer>
			<key>y</key>
			<integer>57</integer>
		</dict>
		<key>e-401-right-3</key>
		<dict>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>20</integer>
			<key>originalWidth</key>
			<integer>26</integer>
			<key>width</key>
			<integer>26</integer>
			<key>x</key>
			<integer>76</integer>
			<key>y</key>
			<integer>57</integer>
		</dict>
		<key>e-401-up-0</key>
		<dict>
			<key>height</key>
			<integer>26</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>26</integer>
			<key>originalWidth</key>
			<integer>31</integer>
			<key>width</key>
			<integer>31</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>87</integer>
		</dict>
		<key>e-401-up-1</key>
		<dict>
			<key>height</key>
			<integer>24</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>24</integer>
			<key>originalWidth</key>
			<integer>31</integer>
			<key>width</key>
			<integer>31</integer>
			<key>x</key>
			<integer>33</integer>
			<key>y</key>
			<integer>87</integer>
		</dict>
		<key>e-401-up-2</key>
		<dict>
			<key>height</key>
			<integer>27</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>27</integer>
			<key>originalWidth</key>
			<integer>23</integer>
			<key>width</key>
			<integer>23</integer>
			<key>x</key>
			<integer>66</integer>
			<key>y</key>
			<integer>87</integer>
		</dict>
		<key>e-401-up-3</key>
		<dict>
			<key>height</key>
			<integer>21</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>21</integer>
			<key>originalWidth</key>
			<integer>31</integer>
			<key>width</key>
			<integer>31</integer>
			<key>x</key>
			<integer>91</integer>
			<key>y</key>
			<integer>87</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>spriteFrameType</key>
		<integer>1</integer>
		<key>textureFileName</key>
		<string>e-401.st</string>
	</dict>
</dict>
</plist>
