<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>e-408-down-0</key>
		<dict>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>83</integer>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>width</key>
			<integer>76</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-408-down-1</key>
		<dict>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>80</integer>
			<key>originalWidth</key>
			<integer>69</integer>
			<key>width</key>
			<integer>69</integer>
			<key>x</key>
			<integer>78</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-408-down-2</key>
		<dict>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>83</integer>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>width</key>
			<integer>76</integer>
			<key>x</key>
			<integer>149</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-408-down-3</key>
		<dict>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>80</integer>
			<key>originalWidth</key>
			<integer>67</integer>
			<key>width</key>
			<integer>67</integer>
			<key>x</key>
			<integer>227</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-408-left-0</key>
		<dict>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>84</integer>
			<key>originalWidth</key>
			<integer>56</integer>
			<key>width</key>
			<integer>56</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>85</integer>
		</dict>
		<key>e-408-left-1</key>
		<dict>
			<key>height</key>
			<integer>82</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>82</integer>
			<key>originalWidth</key>
			<integer>53</integer>
			<key>width</key>
			<integer>53</integer>
			<key>x</key>
			<integer>58</integer>
			<key>y</key>
			<integer>85</integer>
		</dict>
		<key>e-408-left-2</key>
		<dict>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>84</integer>
			<key>originalWidth</key>
			<integer>56</integer>
			<key>width</key>
			<integer>56</integer>
			<key>x</key>
			<integer>113</integer>
			<key>y</key>
			<integer>85</integer>
		</dict>
		<key>e-408-left-3</key>
		<dict>
			<key>height</key>
			<integer>82</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>82</integer>
			<key>originalWidth</key>
			<integer>69</integer>
			<key>width</key>
			<integer>69</integer>
			<key>x</key>
			<integer>171</integer>
			<key>y</key>
			<integer>85</integer>
		</dict>
		<key>e-408-right-0</key>
		<dict>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>84</integer>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>width</key>
			<integer>48</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>171</integer>
		</dict>
		<key>e-408-right-1</key>
		<dict>
			<key>height</key>
			<integer>82</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>82</integer>
			<key>originalWidth</key>
			<integer>52</integer>
			<key>width</key>
			<integer>52</integer>
			<key>x</key>
			<integer>50</integer>
			<key>y</key>
			<integer>171</integer>
		</dict>
		<key>e-408-right-2</key>
		<dict>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>84</integer>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>width</key>
			<integer>48</integer>
			<key>x</key>
			<integer>104</integer>
			<key>y</key>
			<integer>171</integer>
		</dict>
		<key>e-408-right-3</key>
		<dict>
			<key>height</key>
			<integer>82</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>82</integer>
			<key>originalWidth</key>
			<integer>56</integer>
			<key>width</key>
			<integer>56</integer>
			<key>x</key>
			<integer>154</integer>
			<key>y</key>
			<integer>171</integer>
		</dict>
		<key>e-408-up-0</key>
		<dict>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>84</integer>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>width</key>
			<integer>76</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>257</integer>
		</dict>
		<key>e-408-up-1</key>
		<dict>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>81</integer>
			<key>originalWidth</key>
			<integer>65</integer>
			<key>width</key>
			<integer>65</integer>
			<key>x</key>
			<integer>78</integer>
			<key>y</key>
			<integer>257</integer>
		</dict>
		<key>e-408-up-2</key>
		<dict>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>84</integer>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>width</key>
			<integer>76</integer>
			<key>x</key>
			<integer>145</integer>
			<key>y</key>
			<integer>257</integer>
		</dict>
		<key>e-408-up-3</key>
		<dict>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>81</integer>
			<key>originalWidth</key>
			<integer>67</integer>
			<key>width</key>
			<integer>67</integer>
			<key>x</key>
			<integer>223</integer>
			<key>y</key>
			<integer>257</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>spriteFrameType</key>
		<integer>3</integer>
		<key>textureFileName</key>
		<string>e-408.st</string>
	</dict>
</dict>
</plist>
