<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>e-420-down-0</key>
		<dict>
			<key>height</key>
			<integer>69</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>69</integer>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>width</key>
			<integer>76</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-420-down-1</key>
		<dict>
			<key>height</key>
			<integer>68</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>68</integer>
			<key>originalWidth</key>
			<integer>72</integer>
			<key>width</key>
			<integer>72</integer>
			<key>x</key>
			<integer>78</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-420-down-2</key>
		<dict>
			<key>height</key>
			<integer>69</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>69</integer>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>width</key>
			<integer>76</integer>
			<key>x</key>
			<integer>152</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-420-down-3</key>
		<dict>
			<key>height</key>
			<integer>68</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>68</integer>
			<key>originalWidth</key>
			<integer>72</integer>
			<key>width</key>
			<integer>72</integer>
			<key>x</key>
			<integer>230</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-420-left-0</key>
		<dict>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>73</integer>
			<key>originalWidth</key>
			<integer>54</integer>
			<key>width</key>
			<integer>54</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>71</integer>
		</dict>
		<key>e-420-left-1</key>
		<dict>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>73</integer>
			<key>originalWidth</key>
			<integer>54</integer>
			<key>width</key>
			<integer>54</integer>
			<key>x</key>
			<integer>56</integer>
			<key>y</key>
			<integer>71</integer>
		</dict>
		<key>e-420-left-2</key>
		<dict>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>73</integer>
			<key>originalWidth</key>
			<integer>54</integer>
			<key>width</key>
			<integer>54</integer>
			<key>x</key>
			<integer>112</integer>
			<key>y</key>
			<integer>71</integer>
		</dict>
		<key>e-420-left-3</key>
		<dict>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>73</integer>
			<key>originalWidth</key>
			<integer>54</integer>
			<key>width</key>
			<integer>54</integer>
			<key>x</key>
			<integer>168</integer>
			<key>y</key>
			<integer>71</integer>
		</dict>
		<key>e-420-right-0</key>
		<dict>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>73</integer>
			<key>originalWidth</key>
			<integer>54</integer>
			<key>width</key>
			<integer>54</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>146</integer>
		</dict>
		<key>e-420-right-1</key>
		<dict>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>73</integer>
			<key>originalWidth</key>
			<integer>54</integer>
			<key>width</key>
			<integer>54</integer>
			<key>x</key>
			<integer>56</integer>
			<key>y</key>
			<integer>146</integer>
		</dict>
		<key>e-420-right-2</key>
		<dict>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>73</integer>
			<key>originalWidth</key>
			<integer>54</integer>
			<key>width</key>
			<integer>54</integer>
			<key>x</key>
			<integer>112</integer>
			<key>y</key>
			<integer>146</integer>
		</dict>
		<key>e-420-right-3</key>
		<dict>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>73</integer>
			<key>originalWidth</key>
			<integer>54</integer>
			<key>width</key>
			<integer>54</integer>
			<key>x</key>
			<integer>168</integer>
			<key>y</key>
			<integer>146</integer>
		</dict>
		<key>e-420-up-0</key>
		<dict>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>72</integer>
			<key>originalWidth</key>
			<integer>75</integer>
			<key>width</key>
			<integer>75</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>221</integer>
		</dict>
		<key>e-420-up-1</key>
		<dict>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>72</integer>
			<key>originalWidth</key>
			<integer>73</integer>
			<key>width</key>
			<integer>73</integer>
			<key>x</key>
			<integer>77</integer>
			<key>y</key>
			<integer>221</integer>
		</dict>
		<key>e-420-up-2</key>
		<dict>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>72</integer>
			<key>originalWidth</key>
			<integer>75</integer>
			<key>width</key>
			<integer>75</integer>
			<key>x</key>
			<integer>152</integer>
			<key>y</key>
			<integer>221</integer>
		</dict>
		<key>e-420-up-3</key>
		<dict>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>72</integer>
			<key>originalWidth</key>
			<integer>73</integer>
			<key>width</key>
			<integer>73</integer>
			<key>x</key>
			<integer>229</integer>
			<key>y</key>
			<integer>221</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>spriteFrameType</key>
		<integer>3</integer>
		<key>textureFileName</key>
		<string>e-420.st</string>
	</dict>
</dict>
</plist>
