<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>e-495-down-0</key>
		<dict>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>110</integer>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>width</key>
			<integer>128</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-495-down-1</key>
		<dict>
			<key>height</key>
			<integer>111</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>111</integer>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>width</key>
			<integer>128</integer>
			<key>x</key>
			<integer>130</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-495-down-2</key>
		<dict>
			<key>height</key>
			<integer>112</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>112</integer>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>width</key>
			<integer>128</integer>
			<key>x</key>
			<integer>260</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-495-down-3</key>
		<dict>
			<key>height</key>
			<integer>111</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>111</integer>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>width</key>
			<integer>128</integer>
			<key>x</key>
			<integer>390</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>e-495-left-0</key>
		<dict>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>106</integer>
			<key>originalWidth</key>
			<integer>126</integer>
			<key>width</key>
			<integer>126</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>114</integer>
		</dict>
		<key>e-495-left-1</key>
		<dict>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>106</integer>
			<key>originalWidth</key>
			<integer>126</integer>
			<key>width</key>
			<integer>126</integer>
			<key>x</key>
			<integer>128</integer>
			<key>y</key>
			<integer>114</integer>
		</dict>
		<key>e-495-left-2</key>
		<dict>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>106</integer>
			<key>originalWidth</key>
			<integer>126</integer>
			<key>width</key>
			<integer>126</integer>
			<key>x</key>
			<integer>256</integer>
			<key>y</key>
			<integer>114</integer>
		</dict>
		<key>e-495-left-3</key>
		<dict>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>106</integer>
			<key>originalWidth</key>
			<integer>126</integer>
			<key>width</key>
			<integer>126</integer>
			<key>x</key>
			<integer>384</integer>
			<key>y</key>
			<integer>114</integer>
		</dict>
		<key>e-495-right-0</key>
		<dict>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>72</integer>
			<key>originalWidth</key>
			<integer>44</integer>
			<key>width</key>
			<integer>44</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>222</integer>
		</dict>
		<key>e-495-right-1</key>
		<dict>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>71</integer>
			<key>originalWidth</key>
			<integer>44</integer>
			<key>width</key>
			<integer>44</integer>
			<key>x</key>
			<integer>46</integer>
			<key>y</key>
			<integer>222</integer>
		</dict>
		<key>e-495-right-2</key>
		<dict>
			<key>height</key>
			<integer>69</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>69</integer>
			<key>originalWidth</key>
			<integer>43</integer>
			<key>width</key>
			<integer>43</integer>
			<key>x</key>
			<integer>92</integer>
			<key>y</key>
			<integer>222</integer>
		</dict>
		<key>e-495-right-3</key>
		<dict>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>71</integer>
			<key>originalWidth</key>
			<integer>44</integer>
			<key>width</key>
			<integer>44</integer>
			<key>x</key>
			<integer>137</integer>
			<key>y</key>
			<integer>222</integer>
		</dict>
		<key>e-495-up-0</key>
		<dict>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>72</integer>
			<key>originalWidth</key>
			<integer>44</integer>
			<key>width</key>
			<integer>44</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>296</integer>
		</dict>
		<key>e-495-up-1</key>
		<dict>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>71</integer>
			<key>originalWidth</key>
			<integer>44</integer>
			<key>width</key>
			<integer>44</integer>
			<key>x</key>
			<integer>46</integer>
			<key>y</key>
			<integer>296</integer>
		</dict>
		<key>e-495-up-2</key>
		<dict>
			<key>height</key>
			<integer>69</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>69</integer>
			<key>originalWidth</key>
			<integer>43</integer>
			<key>width</key>
			<integer>43</integer>
			<key>x</key>
			<integer>92</integer>
			<key>y</key>
			<integer>296</integer>
		</dict>
		<key>e-495-up-3</key>
		<dict>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>71</integer>
			<key>originalWidth</key>
			<integer>44</integer>
			<key>width</key>
			<integer>44</integer>
			<key>x</key>
			<integer>137</integer>
			<key>y</key>
			<integer>296</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>textureFileName</key>
		<string>e-495.st</string>
	</dict>
</dict>
</plist>
