<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>m-26-down-0</key>
		<dict>
			<key>height</key>
			<integer>88</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>88</integer>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>width</key>
			<integer>85</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>m-26-down-1</key>
		<dict>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>95</integer>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>width</key>
			<integer>85</integer>
			<key>x</key>
			<integer>87</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>m-26-down-2</key>
		<dict>
			<key>height</key>
			<integer>96</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>96</integer>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>width</key>
			<integer>85</integer>
			<key>x</key>
			<integer>174</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>m-26-down-3</key>
		<dict>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>95</integer>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>width</key>
			<integer>85</integer>
			<key>x</key>
			<integer>261</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>m-26-left-0</key>
		<dict>
			<key>height</key>
			<integer>62</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>62</integer>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>width</key>
			<integer>90</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>98</integer>
		</dict>
		<key>m-26-left-1</key>
		<dict>
			<key>height</key>
			<integer>62</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>62</integer>
			<key>originalWidth</key>
			<integer>94</integer>
			<key>width</key>
			<integer>94</integer>
			<key>x</key>
			<integer>92</integer>
			<key>y</key>
			<integer>98</integer>
		</dict>
		<key>m-26-left-2</key>
		<dict>
			<key>height</key>
			<integer>61</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>61</integer>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>width</key>
			<integer>96</integer>
			<key>x</key>
			<integer>188</integer>
			<key>y</key>
			<integer>98</integer>
		</dict>
		<key>m-26-left-3</key>
		<dict>
			<key>height</key>
			<integer>62</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>62</integer>
			<key>originalWidth</key>
			<integer>94</integer>
			<key>width</key>
			<integer>94</integer>
			<key>x</key>
			<integer>286</integer>
			<key>y</key>
			<integer>98</integer>
		</dict>
		<key>m-26-right-0</key>
		<dict>
			<key>height</key>
			<integer>62</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>62</integer>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>width</key>
			<integer>90</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>162</integer>
		</dict>
		<key>m-26-right-1</key>
		<dict>
			<key>height</key>
			<integer>62</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>62</integer>
			<key>originalWidth</key>
			<integer>94</integer>
			<key>width</key>
			<integer>94</integer>
			<key>x</key>
			<integer>92</integer>
			<key>y</key>
			<integer>162</integer>
		</dict>
		<key>m-26-right-2</key>
		<dict>
			<key>height</key>
			<integer>61</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>61</integer>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>width</key>
			<integer>96</integer>
			<key>x</key>
			<integer>188</integer>
			<key>y</key>
			<integer>162</integer>
		</dict>
		<key>m-26-right-3</key>
		<dict>
			<key>height</key>
			<integer>62</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>62</integer>
			<key>originalWidth</key>
			<integer>94</integer>
			<key>width</key>
			<integer>94</integer>
			<key>x</key>
			<integer>286</integer>
			<key>y</key>
			<integer>162</integer>
		</dict>
		<key>m-26-up-0</key>
		<dict>
			<key>height</key>
			<integer>88</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>88</integer>
			<key>originalWidth</key>
			<integer>87</integer>
			<key>width</key>
			<integer>87</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>226</integer>
		</dict>
		<key>m-26-up-1</key>
		<dict>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>90</integer>
			<key>originalWidth</key>
			<integer>87</integer>
			<key>width</key>
			<integer>87</integer>
			<key>x</key>
			<integer>89</integer>
			<key>y</key>
			<integer>226</integer>
		</dict>
		<key>m-26-up-2</key>
		<dict>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>95</integer>
			<key>originalWidth</key>
			<integer>87</integer>
			<key>width</key>
			<integer>87</integer>
			<key>x</key>
			<integer>178</integer>
			<key>y</key>
			<integer>226</integer>
		</dict>
		<key>m-26-up-3</key>
		<dict>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>90</integer>
			<key>originalWidth</key>
			<integer>87</integer>
			<key>width</key>
			<integer>87</integer>
			<key>x</key>
			<integer>267</integer>
			<key>y</key>
			<integer>226</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>textureFileName</key>
		<string>m-26.ss</string>
		<key>type</key>
		<integer>40</integer>
	</dict>
</dict>
</plist>
