<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>m-29-down-0</key>
		<dict>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>70</integer>
			<key>originalWidth</key>
			<integer>52</integer>
			<key>width</key>
			<integer>52</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>m-29-down-1</key>
		<dict>
			<key>height</key>
			<integer>69</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>69</integer>
			<key>originalWidth</key>
			<integer>52</integer>
			<key>width</key>
			<integer>52</integer>
			<key>x</key>
			<integer>54</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>m-29-down-2</key>
		<dict>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>70</integer>
			<key>originalWidth</key>
			<integer>52</integer>
			<key>width</key>
			<integer>52</integer>
			<key>x</key>
			<integer>108</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>m-29-down-3</key>
		<dict>
			<key>height</key>
			<integer>69</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>69</integer>
			<key>originalWidth</key>
			<integer>52</integer>
			<key>width</key>
			<integer>52</integer>
			<key>x</key>
			<integer>162</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>m-29-left-0</key>
		<dict>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>67</integer>
			<key>originalWidth</key>
			<integer>75</integer>
			<key>width</key>
			<integer>75</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>72</integer>
		</dict>
		<key>m-29-left-1</key>
		<dict>
			<key>height</key>
			<integer>65</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>65</integer>
			<key>originalWidth</key>
			<integer>75</integer>
			<key>width</key>
			<integer>75</integer>
			<key>x</key>
			<integer>77</integer>
			<key>y</key>
			<integer>72</integer>
		</dict>
		<key>m-29-left-2</key>
		<dict>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>67</integer>
			<key>originalWidth</key>
			<integer>75</integer>
			<key>width</key>
			<integer>75</integer>
			<key>x</key>
			<integer>154</integer>
			<key>y</key>
			<integer>72</integer>
		</dict>
		<key>m-29-left-3</key>
		<dict>
			<key>height</key>
			<integer>65</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>65</integer>
			<key>originalWidth</key>
			<integer>75</integer>
			<key>width</key>
			<integer>75</integer>
			<key>x</key>
			<integer>231</integer>
			<key>y</key>
			<integer>72</integer>
		</dict>
		<key>m-29-right-0</key>
		<dict>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>67</integer>
			<key>originalWidth</key>
			<integer>75</integer>
			<key>width</key>
			<integer>75</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>141</integer>
		</dict>
		<key>m-29-right-1</key>
		<dict>
			<key>height</key>
			<integer>65</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>65</integer>
			<key>originalWidth</key>
			<integer>75</integer>
			<key>width</key>
			<integer>75</integer>
			<key>x</key>
			<integer>77</integer>
			<key>y</key>
			<integer>141</integer>
		</dict>
		<key>m-29-right-2</key>
		<dict>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>67</integer>
			<key>originalWidth</key>
			<integer>75</integer>
			<key>width</key>
			<integer>75</integer>
			<key>x</key>
			<integer>154</integer>
			<key>y</key>
			<integer>141</integer>
		</dict>
		<key>m-29-right-3</key>
		<dict>
			<key>height</key>
			<integer>65</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>65</integer>
			<key>originalWidth</key>
			<integer>75</integer>
			<key>width</key>
			<integer>75</integer>
			<key>x</key>
			<integer>231</integer>
			<key>y</key>
			<integer>141</integer>
		</dict>
		<key>m-29-up-0</key>
		<dict>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>72</integer>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>width</key>
			<integer>40</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>210</integer>
		</dict>
		<key>m-29-up-1</key>
		<dict>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>70</integer>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>width</key>
			<integer>40</integer>
			<key>x</key>
			<integer>42</integer>
			<key>y</key>
			<integer>210</integer>
		</dict>
		<key>m-29-up-2</key>
		<dict>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>72</integer>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>width</key>
			<integer>40</integer>
			<key>x</key>
			<integer>84</integer>
			<key>y</key>
			<integer>210</integer>
		</dict>
		<key>m-29-up-3</key>
		<dict>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>70</integer>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>width</key>
			<integer>40</integer>
			<key>x</key>
			<integer>126</integer>
			<key>y</key>
			<integer>210</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>textureFileName</key>
		<string>m-29.ss</string>
		<key>type</key>
		<integer>36</integer>
	</dict>
</dict>
</plist>
