<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>m-3-down-0</key>
		<dict>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>86</integer>
			<key>originalWidth</key>
			<integer>46</integer>
			<key>width</key>
			<integer>46</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>m-3-down-1</key>
		<dict>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>86</integer>
			<key>originalWidth</key>
			<integer>46</integer>
			<key>width</key>
			<integer>46</integer>
			<key>x</key>
			<integer>48</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>m-3-down-2</key>
		<dict>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>86</integer>
			<key>originalWidth</key>
			<integer>46</integer>
			<key>width</key>
			<integer>46</integer>
			<key>x</key>
			<integer>96</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>m-3-down-3</key>
		<dict>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>86</integer>
			<key>originalWidth</key>
			<integer>46</integer>
			<key>width</key>
			<integer>46</integer>
			<key>x</key>
			<integer>144</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>m-3-left-0</key>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>64</integer>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>width</key>
			<integer>96</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>88</integer>
		</dict>
		<key>m-3-left-1</key>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>64</integer>
			<key>originalWidth</key>
			<integer>95</integer>
			<key>width</key>
			<integer>95</integer>
			<key>x</key>
			<integer>98</integer>
			<key>y</key>
			<integer>88</integer>
		</dict>
		<key>m-3-left-2</key>
		<dict>
			<key>height</key>
			<integer>65</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>65</integer>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>width</key>
			<integer>96</integer>
			<key>x</key>
			<integer>195</integer>
			<key>y</key>
			<integer>88</integer>
		</dict>
		<key>m-3-left-3</key>
		<dict>
			<key>height</key>
			<integer>65</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>65</integer>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>width</key>
			<integer>96</integer>
			<key>x</key>
			<integer>293</integer>
			<key>y</key>
			<integer>88</integer>
		</dict>
		<key>m-3-right-0</key>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>64</integer>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>width</key>
			<integer>96</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>155</integer>
		</dict>
		<key>m-3-right-1</key>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>64</integer>
			<key>originalWidth</key>
			<integer>95</integer>
			<key>width</key>
			<integer>95</integer>
			<key>x</key>
			<integer>98</integer>
			<key>y</key>
			<integer>155</integer>
		</dict>
		<key>m-3-right-2</key>
		<dict>
			<key>height</key>
			<integer>65</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>65</integer>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>width</key>
			<integer>96</integer>
			<key>x</key>
			<integer>195</integer>
			<key>y</key>
			<integer>155</integer>
		</dict>
		<key>m-3-right-3</key>
		<dict>
			<key>height</key>
			<integer>65</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>65</integer>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>width</key>
			<integer>96</integer>
			<key>x</key>
			<integer>293</integer>
			<key>y</key>
			<integer>155</integer>
		</dict>
		<key>m-3-up-0</key>
		<dict>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>91</integer>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>width</key>
			<integer>50</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>222</integer>
		</dict>
		<key>m-3-up-1</key>
		<dict>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>91</integer>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>width</key>
			<integer>48</integer>
			<key>x</key>
			<integer>52</integer>
			<key>y</key>
			<integer>222</integer>
		</dict>
		<key>m-3-up-2</key>
		<dict>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>91</integer>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>width</key>
			<integer>50</integer>
			<key>x</key>
			<integer>102</integer>
			<key>y</key>
			<integer>222</integer>
		</dict>
		<key>m-3-up-3</key>
		<dict>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>91</integer>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>width</key>
			<integer>48</integer>
			<key>x</key>
			<integer>154</integer>
			<key>y</key>
			<integer>222</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>textureFileName</key>
		<string>m-3.ss</string>
		<key>type</key>
		<integer>33</integer>
	</dict>
</dict>
</plist>
