<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>m-807-down-0</key>
		<dict>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>79</integer>
			<key>originalWidth</key>
			<integer>28</integer>
			<key>width</key>
			<integer>28</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>m-807-down-1</key>
		<dict>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>79</integer>
			<key>originalWidth</key>
			<integer>28</integer>
			<key>width</key>
			<integer>28</integer>
			<key>x</key>
			<integer>30</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>m-807-down-2</key>
		<dict>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>79</integer>
			<key>originalWidth</key>
			<integer>29</integer>
			<key>width</key>
			<integer>29</integer>
			<key>x</key>
			<integer>60</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>m-807-down-3</key>
		<dict>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>79</integer>
			<key>originalWidth</key>
			<integer>28</integer>
			<key>width</key>
			<integer>28</integer>
			<key>x</key>
			<integer>91</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>m-807-left-0</key>
		<dict>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>83</integer>
			<key>originalWidth</key>
			<integer>84</integer>
			<key>width</key>
			<integer>84</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>81</integer>
		</dict>
		<key>m-807-left-1</key>
		<dict>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>84</integer>
			<key>originalWidth</key>
			<integer>84</integer>
			<key>width</key>
			<integer>84</integer>
			<key>x</key>
			<integer>86</integer>
			<key>y</key>
			<integer>81</integer>
		</dict>
		<key>m-807-left-2</key>
		<dict>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>83</integer>
			<key>originalWidth</key>
			<integer>81</integer>
			<key>width</key>
			<integer>81</integer>
			<key>x</key>
			<integer>172</integer>
			<key>y</key>
			<integer>81</integer>
		</dict>
		<key>m-807-left-3</key>
		<dict>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>83</integer>
			<key>originalWidth</key>
			<integer>73</integer>
			<key>width</key>
			<integer>73</integer>
			<key>x</key>
			<integer>255</integer>
			<key>y</key>
			<integer>81</integer>
		</dict>
		<key>m-807-right-0</key>
		<dict>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>83</integer>
			<key>originalWidth</key>
			<integer>73</integer>
			<key>width</key>
			<integer>73</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>167</integer>
		</dict>
		<key>m-807-right-1</key>
		<dict>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>83</integer>
			<key>originalWidth</key>
			<integer>81</integer>
			<key>width</key>
			<integer>81</integer>
			<key>x</key>
			<integer>75</integer>
			<key>y</key>
			<integer>167</integer>
		</dict>
		<key>m-807-right-2</key>
		<dict>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>80</integer>
			<key>originalWidth</key>
			<integer>83</integer>
			<key>width</key>
			<integer>83</integer>
			<key>x</key>
			<integer>158</integer>
			<key>y</key>
			<integer>167</integer>
		</dict>
		<key>m-807-right-3</key>
		<dict>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>81</integer>
			<key>originalWidth</key>
			<integer>73</integer>
			<key>width</key>
			<integer>73</integer>
			<key>x</key>
			<integer>243</integer>
			<key>y</key>
			<integer>167</integer>
		</dict>
		<key>m-807-up-0</key>
		<dict>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>83</integer>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>width</key>
			<integer>33</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>252</integer>
		</dict>
		<key>m-807-up-1</key>
		<dict>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>84</integer>
			<key>originalWidth</key>
			<integer>31</integer>
			<key>width</key>
			<integer>31</integer>
			<key>x</key>
			<integer>35</integer>
			<key>y</key>
			<integer>252</integer>
		</dict>
		<key>m-807-up-2</key>
		<dict>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>87</integer>
			<key>originalWidth</key>
			<integer>31</integer>
			<key>width</key>
			<integer>31</integer>
			<key>x</key>
			<integer>68</integer>
			<key>y</key>
			<integer>252</integer>
		</dict>
		<key>m-807-up-3</key>
		<dict>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>84</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>width</key>
			<integer>32</integer>
			<key>x</key>
			<integer>101</integer>
			<key>y</key>
			<integer>252</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>spriteFrameType</key>
		<integer>1</integer>
		<key>textureFileName</key>
		<string>m-807.st</string>
	</dict>
</dict>
</plist>
