<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>m-804-down-0</key>
		<dict>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>44</integer>
			<key>originalWidth</key>
			<integer>26</integer>
			<key>width</key>
			<integer>26</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>m-804-down-1</key>
		<dict>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>44</integer>
			<key>originalWidth</key>
			<integer>26</integer>
			<key>width</key>
			<integer>26</integer>
			<key>x</key>
			<integer>28</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>m-804-down-2</key>
		<dict>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>45</integer>
			<key>originalWidth</key>
			<integer>28</integer>
			<key>width</key>
			<integer>28</integer>
			<key>x</key>
			<integer>56</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>m-804-down-3</key>
		<dict>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>44</integer>
			<key>originalWidth</key>
			<integer>26</integer>
			<key>width</key>
			<integer>26</integer>
			<key>x</key>
			<integer>86</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>m-804-left-0</key>
		<dict>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>44</integer>
			<key>originalWidth</key>
			<integer>19</integer>
			<key>width</key>
			<integer>19</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>47</integer>
		</dict>
		<key>m-804-left-1</key>
		<dict>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>43</integer>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>width</key>
			<integer>20</integer>
			<key>x</key>
			<integer>21</integer>
			<key>y</key>
			<integer>47</integer>
		</dict>
		<key>m-804-left-2</key>
		<dict>
			<key>height</key>
			<integer>47</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>47</integer>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>width</key>
			<integer>24</integer>
			<key>x</key>
			<integer>43</integer>
			<key>y</key>
			<integer>47</integer>
		</dict>
		<key>m-804-left-3</key>
		<dict>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>43</integer>
			<key>originalWidth</key>
			<integer>21</integer>
			<key>width</key>
			<integer>21</integer>
			<key>x</key>
			<integer>69</integer>
			<key>y</key>
			<integer>47</integer>
		</dict>
		<key>m-804-right-0</key>
		<dict>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>44</integer>
			<key>originalWidth</key>
			<integer>21</integer>
			<key>width</key>
			<integer>21</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>96</integer>
		</dict>
		<key>m-804-right-1</key>
		<dict>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>43</integer>
			<key>originalWidth</key>
			<integer>22</integer>
			<key>width</key>
			<integer>22</integer>
			<key>x</key>
			<integer>23</integer>
			<key>y</key>
			<integer>96</integer>
		</dict>
		<key>m-804-right-2</key>
		<dict>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>44</integer>
			<key>originalWidth</key>
			<integer>21</integer>
			<key>width</key>
			<integer>21</integer>
			<key>x</key>
			<integer>47</integer>
			<key>y</key>
			<integer>96</integer>
		</dict>
		<key>m-804-right-3</key>
		<dict>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>43</integer>
			<key>originalWidth</key>
			<integer>21</integer>
			<key>width</key>
			<integer>21</integer>
			<key>x</key>
			<integer>70</integer>
			<key>y</key>
			<integer>96</integer>
		</dict>
		<key>m-804-up-0</key>
		<dict>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>44</integer>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>width</key>
			<integer>24</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>142</integer>
		</dict>
		<key>m-804-up-1</key>
		<dict>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>43</integer>
			<key>originalWidth</key>
			<integer>25</integer>
			<key>width</key>
			<integer>25</integer>
			<key>x</key>
			<integer>26</integer>
			<key>y</key>
			<integer>142</integer>
		</dict>
		<key>m-804-up-2</key>
		<dict>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>44</integer>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>width</key>
			<integer>24</integer>
			<key>x</key>
			<integer>53</integer>
			<key>y</key>
			<integer>142</integer>
		</dict>
		<key>m-804-up-3</key>
		<dict>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>43</integer>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>width</key>
			<integer>24</integer>
			<key>x</key>
			<integer>79</integer>
			<key>y</key>
			<integer>142</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>spriteFrameType</key>
		<integer>1</integer>
		<key>textureFileName</key>
		<string>m-804.st</string>
	</dict>
</dict>
</plist>
