<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>m-902-down-0</key>
		<dict>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>42</integer>
			<key>originalWidth</key>
			<integer>25</integer>
			<key>width</key>
			<integer>25</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>m-902-down-1</key>
		<dict>
			<key>height</key>
			<integer>41</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>41</integer>
			<key>originalWidth</key>
			<integer>26</integer>
			<key>width</key>
			<integer>26</integer>
			<key>x</key>
			<integer>27</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>m-902-down-2</key>
		<dict>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>42</integer>
			<key>originalWidth</key>
			<integer>25</integer>
			<key>width</key>
			<integer>25</integer>
			<key>x</key>
			<integer>55</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>m-902-down-3</key>
		<dict>
			<key>height</key>
			<integer>41</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>41</integer>
			<key>originalWidth</key>
			<integer>26</integer>
			<key>width</key>
			<integer>26</integer>
			<key>x</key>
			<integer>82</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>m-902-left-0</key>
		<dict>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>42</integer>
			<key>originalWidth</key>
			<integer>22</integer>
			<key>width</key>
			<integer>22</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>44</integer>
		</dict>
		<key>m-902-left-1</key>
		<dict>
			<key>height</key>
			<integer>41</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>41</integer>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>width</key>
			<integer>24</integer>
			<key>x</key>
			<integer>24</integer>
			<key>y</key>
			<integer>44</integer>
		</dict>
		<key>m-902-left-2</key>
		<dict>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>42</integer>
			<key>originalWidth</key>
			<integer>22</integer>
			<key>width</key>
			<integer>22</integer>
			<key>x</key>
			<integer>50</integer>
			<key>y</key>
			<integer>44</integer>
		</dict>
		<key>m-902-left-3</key>
		<dict>
			<key>height</key>
			<integer>41</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>41</integer>
			<key>originalWidth</key>
			<integer>30</integer>
			<key>width</key>
			<integer>30</integer>
			<key>x</key>
			<integer>74</integer>
			<key>y</key>
			<integer>44</integer>
		</dict>
		<key>m-902-right-0</key>
		<dict>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>42</integer>
			<key>originalWidth</key>
			<integer>21</integer>
			<key>width</key>
			<integer>21</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>88</integer>
		</dict>
		<key>m-902-right-1</key>
		<dict>
			<key>height</key>
			<integer>41</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>41</integer>
			<key>originalWidth</key>
			<integer>28</integer>
			<key>width</key>
			<integer>28</integer>
			<key>x</key>
			<integer>23</integer>
			<key>y</key>
			<integer>88</integer>
		</dict>
		<key>m-902-right-2</key>
		<dict>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>42</integer>
			<key>originalWidth</key>
			<integer>21</integer>
			<key>width</key>
			<integer>21</integer>
			<key>x</key>
			<integer>53</integer>
			<key>y</key>
			<integer>88</integer>
		</dict>
		<key>m-902-right-3</key>
		<dict>
			<key>height</key>
			<integer>41</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>41</integer>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>width</key>
			<integer>24</integer>
			<key>x</key>
			<integer>76</integer>
			<key>y</key>
			<integer>88</integer>
		</dict>
		<key>m-902-up-0</key>
		<dict>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>42</integer>
			<key>originalWidth</key>
			<integer>25</integer>
			<key>width</key>
			<integer>25</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>132</integer>
		</dict>
		<key>m-902-up-1</key>
		<dict>
			<key>height</key>
			<integer>41</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>41</integer>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>width</key>
			<integer>27</integer>
			<key>x</key>
			<integer>27</integer>
			<key>y</key>
			<integer>132</integer>
		</dict>
		<key>m-902-up-2</key>
		<dict>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>42</integer>
			<key>originalWidth</key>
			<integer>25</integer>
			<key>width</key>
			<integer>25</integer>
			<key>x</key>
			<integer>56</integer>
			<key>y</key>
			<integer>132</integer>
		</dict>
		<key>m-902-up-3</key>
		<dict>
			<key>height</key>
			<integer>41</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>41</integer>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>width</key>
			<integer>24</integer>
			<key>x</key>
			<integer>83</integer>
			<key>y</key>
			<integer>132</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>textureFileName</key>
		<string>m-902.st</string>
	</dict>
</dict>
</plist>
