<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>n-002-down-0</key>
		<dict>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>39</integer>
			<key>originalWidth</key>
			<integer>21</integer>
			<key>width</key>
			<integer>21</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>n-002-down-1</key>
		<dict>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>38</integer>
			<key>originalWidth</key>
			<integer>21</integer>
			<key>width</key>
			<integer>21</integer>
			<key>x</key>
			<integer>23</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>n-002-down-2</key>
		<dict>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>39</integer>
			<key>originalWidth</key>
			<integer>21</integer>
			<key>width</key>
			<integer>21</integer>
			<key>x</key>
			<integer>46</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>n-002-down-3</key>
		<dict>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>38</integer>
			<key>originalWidth</key>
			<integer>21</integer>
			<key>width</key>
			<integer>21</integer>
			<key>x</key>
			<integer>69</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>n-002-left-0</key>
		<dict>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>39</integer>
			<key>originalWidth</key>
			<integer>19</integer>
			<key>width</key>
			<integer>19</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>41</integer>
		</dict>
		<key>n-002-left-1</key>
		<dict>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>38</integer>
			<key>originalWidth</key>
			<integer>19</integer>
			<key>width</key>
			<integer>19</integer>
			<key>x</key>
			<integer>21</integer>
			<key>y</key>
			<integer>41</integer>
		</dict>
		<key>n-002-left-2</key>
		<dict>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>39</integer>
			<key>originalWidth</key>
			<integer>19</integer>
			<key>width</key>
			<integer>19</integer>
			<key>x</key>
			<integer>42</integer>
			<key>y</key>
			<integer>41</integer>
		</dict>
		<key>n-002-left-3</key>
		<dict>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>38</integer>
			<key>originalWidth</key>
			<integer>21</integer>
			<key>width</key>
			<integer>21</integer>
			<key>x</key>
			<integer>63</integer>
			<key>y</key>
			<integer>41</integer>
		</dict>
		<key>n-002-right-0</key>
		<dict>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>39</integer>
			<key>originalWidth</key>
			<integer>19</integer>
			<key>width</key>
			<integer>19</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>82</integer>
		</dict>
		<key>n-002-right-1</key>
		<dict>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>39</integer>
			<key>originalWidth</key>
			<integer>19</integer>
			<key>width</key>
			<integer>19</integer>
			<key>x</key>
			<integer>21</integer>
			<key>y</key>
			<integer>82</integer>
		</dict>
		<key>n-002-right-2</key>
		<dict>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>39</integer>
			<key>originalWidth</key>
			<integer>19</integer>
			<key>width</key>
			<integer>19</integer>
			<key>x</key>
			<integer>42</integer>
			<key>y</key>
			<integer>82</integer>
		</dict>
		<key>n-002-right-3</key>
		<dict>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>39</integer>
			<key>originalWidth</key>
			<integer>19</integer>
			<key>width</key>
			<integer>19</integer>
			<key>x</key>
			<integer>63</integer>
			<key>y</key>
			<integer>82</integer>
		</dict>
		<key>n-002-up-0</key>
		<dict>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>39</integer>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>width</key>
			<integer>20</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>123</integer>
		</dict>
		<key>n-002-up-1</key>
		<dict>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>38</integer>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>width</key>
			<integer>20</integer>
			<key>x</key>
			<integer>22</integer>
			<key>y</key>
			<integer>123</integer>
		</dict>
		<key>n-002-up-2</key>
		<dict>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>39</integer>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>width</key>
			<integer>20</integer>
			<key>x</key>
			<integer>44</integer>
			<key>y</key>
			<integer>123</integer>
		</dict>
		<key>n-002-up-3</key>
		<dict>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>38</integer>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>width</key>
			<integer>20</integer>
			<key>x</key>
			<integer>66</integer>
			<key>y</key>
			<integer>123</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>textureFileName</key>
		<string>n-002.st</string>
	</dict>
</dict>
</plist>
