<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>n-11-down-0</key>
		<dict>
			<key>height</key>
			<integer>63</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>63</integer>
			<key>originalWidth</key>
			<integer>73</integer>
			<key>width</key>
			<integer>73</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>n-11-down-1</key>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>64</integer>
			<key>originalWidth</key>
			<integer>71</integer>
			<key>width</key>
			<integer>71</integer>
			<key>x</key>
			<integer>75</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>n-11-down-2</key>
		<dict>
			<key>height</key>
			<integer>63</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>63</integer>
			<key>originalWidth</key>
			<integer>73</integer>
			<key>width</key>
			<integer>73</integer>
			<key>x</key>
			<integer>148</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>n-11-down-3</key>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>64</integer>
			<key>originalWidth</key>
			<integer>71</integer>
			<key>width</key>
			<integer>71</integer>
			<key>x</key>
			<integer>223</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>n-11-left-0</key>
		<dict>
			<key>height</key>
			<integer>52</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>52</integer>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>width</key>
			<integer>77</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>66</integer>
		</dict>
		<key>n-11-left-1</key>
		<dict>
			<key>height</key>
			<integer>51</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>51</integer>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>width</key>
			<integer>76</integer>
			<key>x</key>
			<integer>79</integer>
			<key>y</key>
			<integer>66</integer>
		</dict>
		<key>n-11-left-2</key>
		<dict>
			<key>height</key>
			<integer>52</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>52</integer>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>width</key>
			<integer>77</integer>
			<key>x</key>
			<integer>157</integer>
			<key>y</key>
			<integer>66</integer>
		</dict>
		<key>n-11-left-3</key>
		<dict>
			<key>height</key>
			<integer>51</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>51</integer>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>width</key>
			<integer>77</integer>
			<key>x</key>
			<integer>236</integer>
			<key>y</key>
			<integer>66</integer>
		</dict>
		<key>n-11-right-0</key>
		<dict>
			<key>height</key>
			<integer>52</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>52</integer>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>width</key>
			<integer>77</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>120</integer>
		</dict>
		<key>n-11-right-1</key>
		<dict>
			<key>height</key>
			<integer>51</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>51</integer>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>width</key>
			<integer>76</integer>
			<key>x</key>
			<integer>79</integer>
			<key>y</key>
			<integer>120</integer>
		</dict>
		<key>n-11-right-2</key>
		<dict>
			<key>height</key>
			<integer>52</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>52</integer>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>width</key>
			<integer>77</integer>
			<key>x</key>
			<integer>157</integer>
			<key>y</key>
			<integer>120</integer>
		</dict>
		<key>n-11-right-3</key>
		<dict>
			<key>height</key>
			<integer>51</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>51</integer>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>width</key>
			<integer>77</integer>
			<key>x</key>
			<integer>236</integer>
			<key>y</key>
			<integer>120</integer>
		</dict>
		<key>n-11-up-0</key>
		<dict>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>72</integer>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>width</key>
			<integer>77</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>174</integer>
		</dict>
		<key>n-11-up-1</key>
		<dict>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>70</integer>
			<key>originalWidth</key>
			<integer>75</integer>
			<key>width</key>
			<integer>75</integer>
			<key>x</key>
			<integer>79</integer>
			<key>y</key>
			<integer>174</integer>
		</dict>
		<key>n-11-up-2</key>
		<dict>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>72</integer>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>width</key>
			<integer>77</integer>
			<key>x</key>
			<integer>156</integer>
			<key>y</key>
			<integer>174</integer>
		</dict>
		<key>n-11-up-3</key>
		<dict>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>70</integer>
			<key>originalWidth</key>
			<integer>75</integer>
			<key>width</key>
			<integer>75</integer>
			<key>x</key>
			<integer>235</integer>
			<key>y</key>
			<integer>174</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>textureFileName</key>
		<string>n-11.ss</string>
		<key>type</key>
		<integer>16</integer>
	</dict>
</dict>
</plist>
