<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>n-2-down-0</key>
		<dict>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>45</integer>
			<key>originalWidth</key>
			<integer>31</integer>
			<key>width</key>
			<integer>31</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>n-2-down-1</key>
		<dict>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>44</integer>
			<key>originalWidth</key>
			<integer>29</integer>
			<key>width</key>
			<integer>29</integer>
			<key>x</key>
			<integer>33</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>n-2-down-2</key>
		<dict>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>45</integer>
			<key>originalWidth</key>
			<integer>31</integer>
			<key>width</key>
			<integer>31</integer>
			<key>x</key>
			<integer>64</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>n-2-down-3</key>
		<dict>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>44</integer>
			<key>originalWidth</key>
			<integer>29</integer>
			<key>width</key>
			<integer>29</integer>
			<key>x</key>
			<integer>97</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>n-2-left-0</key>
		<dict>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>45</integer>
			<key>originalWidth</key>
			<integer>26</integer>
			<key>width</key>
			<integer>26</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>47</integer>
		</dict>
		<key>n-2-left-1</key>
		<dict>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>44</integer>
			<key>originalWidth</key>
			<integer>28</integer>
			<key>width</key>
			<integer>28</integer>
			<key>x</key>
			<integer>28</integer>
			<key>y</key>
			<integer>47</integer>
		</dict>
		<key>n-2-left-2</key>
		<dict>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>45</integer>
			<key>originalWidth</key>
			<integer>26</integer>
			<key>width</key>
			<integer>26</integer>
			<key>x</key>
			<integer>58</integer>
			<key>y</key>
			<integer>47</integer>
		</dict>
		<key>n-2-left-3</key>
		<dict>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>44</integer>
			<key>originalWidth</key>
			<integer>28</integer>
			<key>width</key>
			<integer>28</integer>
			<key>x</key>
			<integer>86</integer>
			<key>y</key>
			<integer>47</integer>
		</dict>
		<key>n-2-right-0</key>
		<dict>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>45</integer>
			<key>originalWidth</key>
			<integer>26</integer>
			<key>width</key>
			<integer>26</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>94</integer>
		</dict>
		<key>n-2-right-1</key>
		<dict>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>44</integer>
			<key>originalWidth</key>
			<integer>28</integer>
			<key>width</key>
			<integer>28</integer>
			<key>x</key>
			<integer>28</integer>
			<key>y</key>
			<integer>94</integer>
		</dict>
		<key>n-2-right-2</key>
		<dict>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>45</integer>
			<key>originalWidth</key>
			<integer>26</integer>
			<key>width</key>
			<integer>26</integer>
			<key>x</key>
			<integer>58</integer>
			<key>y</key>
			<integer>94</integer>
		</dict>
		<key>n-2-right-3</key>
		<dict>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>44</integer>
			<key>originalWidth</key>
			<integer>28</integer>
			<key>width</key>
			<integer>28</integer>
			<key>x</key>
			<integer>86</integer>
			<key>y</key>
			<integer>94</integer>
		</dict>
		<key>n-2-up-0</key>
		<dict>
			<key>height</key>
			<integer>46</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>46</integer>
			<key>originalWidth</key>
			<integer>31</integer>
			<key>width</key>
			<integer>31</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>141</integer>
		</dict>
		<key>n-2-up-1</key>
		<dict>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>45</integer>
			<key>originalWidth</key>
			<integer>29</integer>
			<key>width</key>
			<integer>29</integer>
			<key>x</key>
			<integer>33</integer>
			<key>y</key>
			<integer>141</integer>
		</dict>
		<key>n-2-up-2</key>
		<dict>
			<key>height</key>
			<integer>46</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>46</integer>
			<key>originalWidth</key>
			<integer>31</integer>
			<key>width</key>
			<integer>31</integer>
			<key>x</key>
			<integer>64</integer>
			<key>y</key>
			<integer>141</integer>
		</dict>
		<key>n-2-up-3</key>
		<dict>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>45</integer>
			<key>originalWidth</key>
			<integer>29</integer>
			<key>width</key>
			<integer>29</integer>
			<key>x</key>
			<integer>97</integer>
			<key>y</key>
			<integer>141</integer>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>textureFileName</key>
		<string>n-2.ss</string>
		<key>type</key>
		<integer>16</integer>
	</dict>
</dict>
</plist>
